<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购买记录--农产品交易网</title>
    <link rel="icon" type="image/x-icon" href="../pic/icon.png"/>

    <link rel="stylesheet" href="../css/n8Style.css"/>
    <link rel="stylesheet" href="../css/common.min.css"/>

    <script type="text/javascript" src="../js/quote/jquery.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
<div class="con-width-1200 pos-rel top-sub clearfix">
    <div class="fxl logo">
        <a href="http://localhost:8080/agriculture/view/buyer.html">
            <img class="logo-all fxl"
                 src="../pic/logo.png"
                 alt="农产品交易网"/>
        </a>
    </div>
    <div id="uInfo" style="height: 100%;line-height: 84px;float: right;">
    </div>
</div>
<div style="width: 80%; height: 320px;margin: 50px auto;">
    <table class="bought-table-mod__table___3u4gN table-head-mod__table___17eFg">

        <tbody data-reactid=".0.4.1">
        <tr>
            <th data-reactid=".0.4.1.0.0" style="width: 38%;;">宝贝</th>
            <th data-reactid=".0.4.1.0.1" style="width: 10%">单价</th>
            <th data-reactid=".0.4.1.0.2">数量</th>
            <th data-reactid=".0.4.1.0.4">实付款</th>
            <th data-reactid=".0.4.1.0.5">交易状态</th>
        </tr>
        </tbody>
    </table>

    <div id="detailContent"></div>

</div>
<div class="pub-footer clearfix">
    <style>
        .down-img a img {
            margin: 0;
        }1
    </style>
    <div class="down clearfix">
        Copyright © 2017 维贸网络 <span>版权所有</span>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="font-gray"></span>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.miibeian.gov.cn" target="_blank">冀ICP备15003989号-2</a>&nbsp;&nbsp;&nbsp;&nbsp;<span
            class="font-gray"></span>&nbsp;&nbsp;&nbsp;&nbsp;
        增值电信业务经营许可证：冀B2-20160010
        &nbsp;&nbsp;&nbsp;&nbsp;<img src="http://image.zgncpw.com:8000/public/down/beian.png"/>冀公网安备
        13102202000368号<span
            class="font-gray"></span>&nbsp;&nbsp;&nbsp;&nbsp;
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1260742642'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260742642%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
</div>
<script type="text/javascript" src="../js/buy_record.js"></script>
</body>
</html>