<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"
          name="viewport" id="viewport"/>
    <title>用户登录 - 农产品交易网</title>
    <link rel="icon" type="image/x-icon" href="../pic/icon.png"/>
    <link rel="stylesheet" type="text/css" href="../css/login.css"/>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="../js/quote/jquery.min.1.8.2.js"></script>
    <script type="text/javascript" src="../js/login.js"></script>
</head>

<body>
<div class="login">
    <div class="logo"><img src="../pic/logo.png"></div>
    <div class="login-info">
        <p class="al">登录</p>
        <div class="inpbox">
            <span class="tishi"></span>
            <input id="txtUsername" class="intxt" type="text" name="userid"
                   required="required" placeholder="会员名或手机号"/>
        </div>
        <div class="inpbox">
            <span class="tishi tishi_pwd"></span>
            <input id="txtPassword" class="intxt" type="password"
                   name="pwd" required="required" placeholder="密码"/>
        </div>
    </div>
    <input id="btnSignCheck" class="bt" type="button" value="登 录"></button>
    <p style="padding:10px 0; text-align:right;"><a href="" style="color:#999">找回密码</a></p>
    <p><span style="line-height:32px; color:#999"></span><br><a href="register.html" class="reg">还不是会员？立即注册</a></p>
</div>
<div style="margin-top:20px; text-align:center; font-size:12px;"><a
        href="http://localhost:8080/argiculture/index" target="_blank">农产品交易网</a> &copy; 版权所有
</div>

<script>
    var loginBt = document.getElementById('btnSignCheck');
    loginBt.onclick = function () {
        userLogin();
    }
</script>
</body>
</html>
