<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="360-site-verification" content="d4689093bf399239069559c7d85853f1"/>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?88c6709588333786f1bc43a6585b6dda";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <title>生鲜水果交易网</title>
    <meta name="keywords" content="生鲜水果,批发生鲜水果,销售生鲜水果,供应生鲜水果,生鲜水果交易网,生鲜水果批发,生鲜水果行情"/>
    <meta name="description" content="关于生鲜水果批发价格行情,请查阅各个供应商的供应信息。生鲜水果的批发及行情查阅"/>
    <meta http-equiv="mobile-agent" content="format=html5;url=http://m.zgncpw.com/index.php?moduleid=5&catid=13">
    <link rel="icon" type="image/x-icon" href="../pic/icon.png"/>
    <link rel="stylesheet" type="text/css"
          href="http://www.zgncpw.com/skin/skin2018/common/common.min.css?version=20180114"/>
    <link rel="stylesheet" type="text/css"
          href="http://www.zgncpw.com/skin/skin2018/common/icon.min.css?version=20180114"/>
    <link rel="stylesheet" type="text/css"
          href="http://www.zgncpw.com/skin/skin2018/pages/sell.min.css?version=20180114"/>
    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="http://www.zgncpw.com/skin/skin2018/ie6.css"/>
    <![endif]-->
    <script type="text/javascript">window.onerror = function () {
        return true;
    }</script>
    <script type="text/javascript" src="http://www.zgncpw.com/lang/zh-cn/lang.js"></script>
    <script type="text/javascript" src="http://www.zgncpw.com/file/script/config.js"></script>
    <script type="text/javascript" src="http://www.zgncpw.com/file/script/jquery.js"></script>
    <script type="text/javascript" src="http://www.zgncpw.com/file/script/common.js"></script>
    <script type="text/javascript" src="http://www.zgncpw.com/file/script/share.js"></script>
    <script type="text/javascript" src="http://www.zgncpw.com/file/script/page.js"></script>
    <script type="text/javascript" src="http://www.zgncpw.com/file/script/common/comm.min.js?version=20180114"></script>
    <script type="text/javascript"
            src="http://www.zgncpw.com/file/script/common/imgmore.min.js?version=20180114"></script>
    <!--[if lt IE 9]>
    <script src="http://www.zgncpw.com/file/script/jquery-1.8.0.min.js?version=20180114"
            type="text/ecmascript"></script>
    <script src="http://www.zgncpw.com/file/script/html5shiv.js?version=20180114"></script>
    <script src="http://www.zgncpw.com/file/script/respond.min.js?version=20180114"></script>
    <![endif]-->
    <script type="text/javascript">
        GoMobile('http://m.zgncpw.com/index.php?moduleid=5&catid=13');
        var searchid = 5;
    </script>


</head>
<body>
<style>
    .article > .l > .sub-menu > a.foc5,
    .pub-menu-new > .drop-down-menu > ul > li > ul.sub-menu-two > li > a.foc5 {
        color: #ff6c00 !important;
        text-decoration: underline;
    }

    .pub-menu-new > .drop-down-menu > ul > li > ul.sub-menu-two > li > a.foc5 {
        color: #ff6c00 !important;
        text-decoration: underline;
    }

    .pub-menu-new > .drop-down-menu > ul > li.block > a.foc5 {
        color: #ff3300 !important;
    }

    .pub-menu-new > .drop-down-menu > ul > li > a.main.sell {
        color: #ff3300 !important;
        text-decoration: underline;
    }

    .fxr.phone {
        display: none;
    }
</style>
<!--[if lt IE 8]>
<div class="browser-warning">
    <div class="bgo"></div>
    <div class="con pos-abs ie-pie rad5">
        你的浏览器可能无法正常浏览本站，推荐使用
        <a href="http://www.google.com/chrome" class="fontbold" target="_blank" title="下载 Chrome 浏览器">Chrome</a>、
        <a href="http://www.apple.com/safari" class="fontbold" target="_blank" title="下载 Safari 浏览器">Safari</a>、
        <a href="http://firefox.com.cn/download/" class="fontbold" target="_blank" title="下载 Firefox 浏览器">Firefox</a>
        等浏览器，
        或者升级您的 <a href="http://windows.microsoft.com/zh-CN/internet-explorer/download-ie" class="fontbold"
                  target="_blank" title="下载最新版的 Internet Explorer">Internet Explorer</a>
        <a href="javascript:void(0);" id="close-btn" class="zgncpwfont close-btn ie-pie rad100">X</a>
    </div>
</div>
<![endif]-->
<script>
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<div id="destoon_qrcode" style="display:none;"></div>
<div class="public-top clearfix bg-top">
    <div class="con-width-1200 drop-down-menu">
        </ul>
        <ul class="fxl">
            <li>
                <!--<a href="http://m.zgncpw.com/mobile.php">-->
                <a href="http://www.zgncpw.com/mobile/mobile.php">
                    <i class="zgncpwfont fxl fs-12">&#xe63b;</i>
                    <span class="fxl fs-12">手机版</span>
                </a>
            </li>
            <li class="h_qrcode">
                <a href="javascript:Dqrcode();">
                    <i class="zgncpwfont fxl mar5-r fs-12">&#xe600;</i>
                    <span class="fxl fs-12">二维码</span>
                </a>
            </li>
        </ul>
        <div class="fxr menu-sel fs-12" id="destoon_member"></div>
    </div>
</div>
<div class="bg-white clearfix" id="lay0">
    <div class="con-width-1200 public-menu pos-rel clearfix">
        <a href="http://www.zgncpw.com/" class="fxl">
            <img class="fxl logo" src="http://image.zgncpw.com:8000/zgncpw/201803/01/195531901.jpg" alt="农产品网"/>
            <div class="fxl sub-logo b clearfix"><span>生鲜水果</span></div>
        </a>
        <img class="r-img pos-abs" src="http://www.zgncpw.com/skin/skin2018/image/sell/common/r_img.png" alt="农产品网"/>
        <div class="fxl clearfix search_baidu_blank">
            <script type="text/javascript">(function () {
                document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));
                var bdcs = document.createElement('script');
                bdcs.type = 'text/javascript';
                bdcs.async = true;
                bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=8596138297126626144' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date() / 3600000);
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(bdcs, s);
            })();</script>
        </div>
    </div>
</div>
<style>
    .pub-menu-new > .drop-down-menu > ul > li > a.sub {
        line-height: 70px;
        width: 166px;
        padding: 0px;
        font-size: 18px;
    }

    .pub-menu-new > .drop-down-menu > ul > li > ul.sub-menu-two {
        background: rgba(220, 220, 220, .9);
        padding: 15px;
        z-index: 999;
        left: -130px;
    }

    .pub-menu-new > .drop-down-menu > ul > li > ul.sub-menu-two.information {
        width: 400px;
    }

    .pub-menu-new > .drop-down-menu > ul > li > ul.sub-menu-two.information > li {
        width: 100%;
        display: block;
    }

    .pub-menu-new > .drop-down-menu > ul > li > ul.sub-menu-two.information > li > a {
        width: 24%;
        padding: 10px 0px;
        display: inline-block;
        margin: 0px;
        text-align: center;
    }

    .pub-menu-new > .drop-down-menu > ul > li > ul.sub-menu-two.information > li > a.two {
        width: 11.5%;
    }

    .pub-menu-new > .drop-down-menu > ul > li > ul.sub-menu-two.information > li > a.two.foc12 {
        text-align: right;
    }

    .pub-menu-new > .drop-down-menu > ul > li > ul.sub-menu-two.information > li > a.two.foc47 {
        text-align: left;
    }

    .pub-menu-new > .drop-down-menu > ul > li > ul.sub-menu-two.information.three {
        width: 350px;
        left: -100px;
    }

    .pub-menu-new > .drop-down-menu > ul > li > ul.sub-menu-two.information.three.end {
        left: auto;
        right: 0px;
    }

    .pub-menu-new > .drop-down-menu > ul > li > ul.sub-menu-two.information.three > li > a {
        width: 31%;
    }

    .pub-menu-new > .drop-down-menu > ul > li > ul.sub-menu-two.information.one {
        width: 130px;
        left: 10px;
    }

    .pub-menu-new > .drop-down-menu > ul > li > ul.sub-menu-two.information.one > li > a {
        width: 100%;
    }

    .pub-menu-new > .drop-down-menu > ul > li.hover > a.sub {
        color: #ff3300 !important;
        text-decoration: underline;
    }
</style>
<style>
    body {
        background: #f6f6f6 !important;
    }

    /*.fixer{position:relative;}*/
    .pub-footer {
        margin: 0px;
    }

    .clearline.h {
        display: none;
    }

    ul.li-list-line > li {
        border: 0px;
    }

    ul.img-list {
        padding: 0px 10px;
    }

    ul.img-list > li {
        padding: 0px;
        border: 0px;
    }

    ul.small-font-one > li > a.font {
        max-width: 180px;
    }

    .block-blue.fxr {
        width: 318px;
        height: 300px;
        overflow: hidden;
        margin: 0px;
    }

    ul.small-font-one > li {
        padding: 4px 0px 5px 0px;
    }

    .com-infor-list > ul.img {
        margin: 10px 20px;
    }

    .com-infor-list > ul.img > li {
        width: 100%;
        height: 130px;
        overflow: hidden;
    }

    ul.img-list li .con-text {
        padding-left: 250px;
    }

    .img-list.bg-white.hei > .pages {
        display: none;
    }

    .pub-menu-new > .drop-down-menu > ul > li > ul {
        top: 72px;
    }

    ul.li-list-informaition > li > a.catname {
        display: none;
    }

    ul.li-list-informaition > li > a.catname {
        display: block;
    }
</style>
<div class="bg-information1 clearfix" id="lay1">
    <div class="con-width-1200 pos-rel clearfix">
        <h1>---生鲜水果供应网</h1>
    </div>
</div>
<div class="clear h10"></div>
<style>
    .icon-nodata {
        padding: 30px 0px 0px 240px !important
    }

    .icon-nodata > img.fxl {
        border: 0px !important;
    }

    .tab-list {
        padding: 0px 0px 0px 70px;
    }

    .bg-information2 {
        padding-bottom: 40px;
        background-size: 100% 1400px;
    }

    .tab-list.clearfix > a.one-13,
    .tab-list.clearfix > a.one-,
    .tab-list.clearfix > a.one-,
    .tab-list.clearfix > a.one-,
    .tab-list.auto > a.focus,
    .tab-list.auto > a.focus > span.font-gray,
    .tab-list.auto > div > a.focus {
        color: #ff8400 !important;
        font-weight: bold;
    }

    .city-select {
        background: #f3f4f2 !important;
        padding: 20px 0px;
    }

    .city-select > a {
        border: 1px solid #eee;
        padding: 3px 6px 3px 6px;
        display: inline-block;
        float: left;
        margin-right: 10px;
        background: #fff;
        color: #999;
        font-size: 12px;
    }

    .city-select > a > i {
        font-size: 10px !important;
    }

    .city-select > a:hover {
        color: #777;
    }

    .city-select > a:hover > i {
        color: #ff8400;
    }

    .city-select > a.del- {
        display: none;
    }

    .tab-list.auto > a > span,
    .tab-list.auto > div > a > span {
        font-size: 13px;
    }

    .tab-list.lay2 > a,
    .tab-list.lay2 > div > a {
        font-size: 13px;
        line-height: 24px;
    }

    .related-5 {
        color: #ff8400 !important;
        font-weight: bold;
    }
</style>
<div class="con-width-1200 clearfix">
    当前位置：<a href="http://www.zgncpw.com/">首页</a> &raquo; <a href="http://www.zgncpw.com/sell/">供应信息</a> &raquo; <a
        href="http://www.zgncpw.com/sell/list-13.html">生鲜水果</a>
    <div class="clearline h20"></div>
</div>
<div class="clearfix con-width-1200 clearfix">
    <div class="pad10 clearfix box-shadow-small bg-white">
        <div class="tab-list auto select pos-rel clearfix" name="tablist">
            <div class="tit pos-abs clearfix">
                <i class="fxl iconfont-comm font-gray fs-16">&#xe81e;&nbsp;</i>
                <h1 class="fxl">分类：</h1>
            </div>
            <a title="供应信息" class="text-wid-auto tooltip" href="/sell">
                全部
            </a>
            <a title="生鲜水果" class="text-wid-auto tooltip one-13" href="http://www.zgncpw.com/sell/list-13.html">
                生鲜水果 </a>
            <a title="新鲜蔬菜" class="text-wid-auto tooltip one-9" href="http://www.zgncpw.com/sell/list-9.html">
                新鲜蔬菜 </a>
            <a title="畜牧水产" class="text-wid-auto tooltip one-16" href="http://www.zgncpw.com/sell/list-16.html">
                畜牧水产 </a>
            <a title="米面粮油" class="text-wid-auto tooltip one-6" href="http://www.zgncpw.com/sell/list-6.html">
                米面粮油 </a>
            <a title="农副产品" class="text-wid-auto tooltip one-202" href="http://www.zgncpw.com/sell/list-202.html">
                农副产品 </a>
            <a title="农资产品" class="text-wid-auto tooltip one-212" href="http://www.zgncpw.com/sell/list-212.html">
                农资产品 </a>
            <a title="花卉苗木" class="text-wid-auto tooltip one-17" href="http://www.zgncpw.com/sell/list-17.html">
                花卉苗木 </a>
            <a title="中草药材" class="text-wid-auto tooltip one-1123" href="http://www.zgncpw.com/sell/list-1123.html">
                中草药材 </a>
            <a title="农业机械" class="text-wid-auto tooltip one-706" href="http://www.zgncpw.com/sell/list-706.html">
                农业机械 </a>
            <a title="地方特产" class="text-wid-auto tooltip one-1693" href="http://www.zgncpw.com/sell/list-1693.html">
                地方特产 </a>
            <a title="民宿民居" class="text-wid-auto tooltip one-665" href="http://www.zgncpw.com/sell/list-665.html">
                民宿民居 </a>
            <a title="仓储物流" class="text-wid-auto tooltip one-707" href="http://www.zgncpw.com/sell/list-707.html">
                仓储物流 </a>
            <a title="农业文化" class="text-wid-auto tooltip one-44192" href="http://www.zgncpw.com/sell/list-44192.html">
                农业文化 </a>
            <a title="一村一品" class="text-wid-auto tooltip one-160158" href="http://www.zgncpw.com/sell/list-160158.html">
                一村一品 </a>
        </div>
        <div class="clear h5"></div>
        <div class="tab-list auto select pos-rel lay2 clearfix" name="tablist">
            <div class="tit pos-abs clearfix">
                <h1 class="fxl">&nbsp;</h1>
            </div>
            <div class="bg-gray clearfix" style="padding:5px 10px;">
                <a title="草莓" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-62.html">
                    草莓 </a>
                <a title="荔枝" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-63.html">
                    荔枝 </a>
                <a title="梨" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-64.html">
                    梨 </a>
                <a title="苹果" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-65.html">
                    苹果 </a>
                <a title="香蕉" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-66.html">
                    香蕉 </a>
                <a title="柑桔" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-67.html">
                    柑桔 </a>
                <a title="橙" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-68.html">
                    橙 </a>
                <a title="火龙果" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-69.html">
                    火龙果 </a>
                <a title="柠檬" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-590.html">
                    柠檬 </a>
                <a title="葡萄" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-591.html">
                    葡萄 </a>
                <a title="大红果" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-592.html">
                    大红果 </a>
                <a title="瓜果" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-593.html">
                    瓜果 </a>
                <a title="芒果" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-594.html">
                    芒果 </a>
                <a title="提子" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-595.html">
                    提子 </a>
                <a title="其他水果" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-596.html">
                    其他水果 </a>
                <a title="菠萝" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-750.html">
                    菠萝 </a>
                <a title="柚子" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-751.html">
                    柚子 </a>
                <a title="猕猴桃" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-764.html">
                    猕猴桃 </a>
                <a title="甜瓜" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-765.html">
                    甜瓜 </a>
                <a title="西瓜" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-769.html">
                    西瓜 </a>
                <a title="哈密瓜" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-770.html">
                    哈密瓜 </a>
                <a title="桃" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-771.html">
                    桃 </a>
                <a title="桔" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-772.html">
                    桔 </a>
                <a title="柑" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-773.html">
                    柑 </a>
                <a title="金桔" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-774.html">
                    金桔 </a>
                <a title="李" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-775.html">
                    李 </a>
                <a title="杏" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-776.html">
                    杏 </a>
                <a title="圣女果" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-777.html">
                    圣女果 </a>
                <a title="樱桃" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-778.html">
                    樱桃 </a>
                <a title="车厘子" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-779.html">
                    车厘子 </a>
                <a title="龙眼" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-780.html">
                    龙眼 </a>
                <a title="甘蔗" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-781.html">
                    甘蔗 </a>
                <a title="山竹" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-782.html">
                    山竹 </a>
                <a title="杨桃" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-783.html">
                    杨桃 </a>
                <a title="杨梅" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-784.html">
                    杨梅 </a>
                <a title="无花果" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-785.html">
                    无花果 </a>
                <a title="黄金瓜" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-786.html">
                    黄金瓜 </a>
                <a title="黄桃" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-787.html">
                    黄桃 </a>
                <a title="毛桃" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-788.html">
                    毛桃 </a>
                <a title="榴莲" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-789.html">
                    榴莲 </a>
                <a title="柿子" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-790.html">
                    柿子 </a>
                <a title="人参果" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-791.html">
                    人参果 </a>
                <a title="木瓜" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-792.html">
                    木瓜 </a>
                <a title="石榴" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-793.html">
                    石榴 </a>
                <a title="冬枣" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-794.html">
                    冬枣 </a>
                <a title="枇杷" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-795.html">
                    枇杷 </a>
                <a title="山楂" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-796.html">
                    山楂 </a>
                <a title="番石榴" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-797.html">
                    番石榴 </a>
                <a title="橄榄" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-798.html">
                    橄榄 </a>
                <a title="香瓜" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-799.html">
                    香瓜 </a>
                <a title="椰子" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-800.html">
                    椰子 </a>
                <a title="蓝莓" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-2792.html">
                    蓝莓 </a>
                <a title="槟榔" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-17864.html">
                    槟榔 </a>
                <a title="灯笼果" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-18188.html">
                    灯笼果 </a>
                <a title="桑葚" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-18311.html">
                    桑葚 </a>
                <a title="乌梅" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-18411.html">
                    乌梅 </a>
                <a title="百香果" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-18416.html">
                    百香果 </a>
                <a title="梅子" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-23914.html">
                    梅子 </a>
                <a title="羊奶果" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-24185.html">
                    羊奶果 </a>
                <a title="红枣" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-24189.html">
                    红枣 </a>
                <a title="牛油果" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-24228.html">
                    牛油果 </a>
                <a title="神秘果" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-24453.html">
                    神秘果 </a>
                <a title="释迦果" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-24478.html">
                    释迦果 </a>
                <a title="雪莲果" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-24757.html">
                    雪莲果 </a>
                <a title="荸荠" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-25106.html">
                    荸荠 </a>
                <a title="丑橘" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-25151.html">
                    丑橘 </a>
                <a title="八月瓜" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-25195.html">
                    八月瓜 </a>
                <a title="含羞果" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-25296.html">
                    含羞果 </a>
                <a title="猫屎瓜" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-25322.html">
                    猫屎瓜 </a>
                <a title="刺角瓜" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-25794.html">
                    刺角瓜 </a>
                <a title="树莓" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-25916.html">
                    树莓 </a>
                <a title="金星果" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-25977.html">
                    金星果 </a>
                <a title="青枣" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-25979.html">
                    青枣 </a>
                <a title="芭蕉" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-26044.html">
                    芭蕉 </a>
                <a title="海棠果" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-27487.html">
                    海棠果 </a>
                <a title="油桃" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-27488.html">
                    油桃 </a>
                <a title="菠萝蜜" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-89092.html">
                    菠萝蜜 </a>
                <a title="沙棘果" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-96708.html">
                    沙棘果 </a>
                <a title="菱角" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-96781.html">
                    菱角 </a>
                <a title="香如蜜" class="text-wid-auto tooltip " href="http://www.zgncpw.com/sell/list-160170.html">
                    香如蜜 </a>
            </div>
        </div>
        <div class="clear h5"></div>
        <div class="tab-list auto lay0 pos-rel clearfix" id="tab-list-show">
            <div class="tit pos-abs clearfix">
                <i class="fxl iconfont-comm font-gray fs-18">&#xe81d;</i>
                <h1 class="fxl">&nbsp;地区：</h1>
            </div>
            <a href="/sell" class="focus rad3">全部</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-1-typeid-0.html"
               rel="nofollow">北京市</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-2-typeid-0.html"
               rel="nofollow">上海市</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-3-typeid-0.html"
               rel="nofollow">天津市</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-4-typeid-0.html"
               rel="nofollow">重庆市</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-5-typeid-0.html"
               rel="nofollow">河北省</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-6-typeid-0.html"
               rel="nofollow">山西省</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-7-typeid-0.html"
               rel="nofollow">内蒙古</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-8-typeid-0.html"
               rel="nofollow">辽宁省</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-9-typeid-0.html"
               rel="nofollow">吉林省</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-10-typeid-0.html"
               rel="nofollow">黑龙江省</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-11-typeid-0.html"
               rel="nofollow">江苏省</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-12-typeid-0.html"
               rel="nofollow">浙江省</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-13-typeid-0.html"
               rel="nofollow">安徽省</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-14-typeid-0.html"
               rel="nofollow">福建省</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-15-typeid-0.html"
               rel="nofollow">江西省</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-16-typeid-0.html"
               rel="nofollow">山东省</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-17-typeid-0.html"
               rel="nofollow">河南省</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-18-typeid-0.html"
               rel="nofollow">湖北省</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-19-typeid-0.html"
               rel="nofollow">湖南省</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-20-typeid-0.html"
               rel="nofollow">广东省</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-21-typeid-0.html"
               rel="nofollow">广西</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-22-typeid-0.html"
               rel="nofollow">海南省</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-23-typeid-0.html"
               rel="nofollow">四川省</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-24-typeid-0.html"
               rel="nofollow">贵州省</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-25-typeid-0.html"
               rel="nofollow">云南省</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-26-typeid-0.html"
               rel="nofollow">西藏</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-27-typeid-0.html"
               rel="nofollow">陕西省</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-28-typeid-0.html"
               rel="nofollow">甘肃省</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-29-typeid-0.html"
               rel="nofollow">青海省</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-30-typeid-0.html"
               rel="nofollow">宁夏</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-31-typeid-0.html"
               rel="nofollow">新疆</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-32-typeid-0.html"
               rel="nofollow">台湾</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-33-typeid-0.html"
               rel="nofollow">香港</a>
            <a target="_blank" href="http://www.zgncpw.com/sell/search-htm-areaid-34-typeid-0.html"
               rel="nofollow">澳门</a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="send-sell clearfix">
    <a href="/member/my.php?mid=5&action=add" target="_blank">
        <img class="pos-abs" src="http://www.zgncpw.com/skin/skin2018/image/sell/common/send.png">
        <div class="con clearfix rad50">
            <i class="iconfont-comm rad100 fs-14">&#xe7a0;</i>
            我要卖货
        </div>
    </a>
</div>
<div class="clear h20"></div>
<div class="bg-information2 clearfix">
    <div class="con-width-1200 clearfix">
        <div class="clear"></div>
        <div class="list pad10 clearfix show-hide-data">
            <style>
                .rad3.pad5 {
                    padding: 5px 5px 3px 5px !important;
                }

                .pages a:hover {
                    background: #17d267;
                    border: #17d267 1px solid;
                    color: #FFFFFF;
                    padding: 4px;
                    text-decoration: none;
                }

                .pages strong {
                    background: #17d267;
                    padding: 5px;
                    border: #17d267 1px solid;
                    color: #FFFFFF;
                }
            </style>
            <ul class="li-list-informaition" name="liall4">
                <li class="clearfix pos-rel my-checkbox big" id="item_117139">
                    <a class="catname tit-bg-orange pos-abs" href="http://www.zgncpw.com/sell/list-778.html">樱桃</a><a
                        href="http://www.zgncpw.com/sell/show/117139/" class="font-gray-5" target="_blank">
                    <img class="big test" src="http://images.zgncpw.com/zgncpw_web/201805/18/2038495330295.jpg"
                         alt="山东大樱桃批发 近期价格行情" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"/>
                    <div class="pad-t-d-10 text-align-c clearfix">
                        <h1 class="text-wid">山东大樱桃批发 近期价格行情</h1>
                        <span class="fxl fs-16">面议</span>
                        <i class="fxr zgncpwfont btn-meired line-height-20 rad3 pad5 font-white">&#xe7ca;</i>
                    </div>
                </a>
                </li>
                <li class="clearfix pos-rel my-checkbox big" id="item_114911">
                    <a class="catname tit-bg-orange pos-abs" href="http://www.zgncpw.com/sell/list-136682.html">中油</a><a
                        href="http://www.zgncpw.com/sell/show/114911/" class="font-gray-5" target="_blank">
                    <img class="big test" src="http://image.zgncpw.com:8000/zgncpw/201804/02/1757184712275.png"
                         alt="山东大棚油桃上市批发价格" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"/>
                    <div class="pad-t-d-10 text-align-c clearfix">
                        <h1 class="text-wid">山东大棚油桃上市批发价格</h1>
                        <span class="fxl fs-16">面议</span>
                        <i class="fxr zgncpwfont btn-meired line-height-20 rad3 pad5 font-white">&#xe7ca;</i>
                    </div>
                </a>
                </li>
                <li class="clearfix pos-rel my-checkbox big" id="item_110771">
                    <a class="catname tit-bg-orange pos-abs"
                       href="http://www.zgncpw.com/sell/list-147051.html">红富士</a><a
                        href="http://www.zgncpw.com/sell/show/110771/" class="font-gray-5" target="_blank">
                    <img class="big test" src="http://image.zgncpw.com:8000/zgncpw/201803/30/1142375012275.jpg"
                         alt="批发山东红富士苹果" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"/>
                    <div class="pad-t-d-10 text-align-c clearfix">
                        <h1 class="text-wid">批发山东红富士苹果</h1>
                        <span class="fxl fs-16">面议</span>
                        <i class="fxr zgncpwfont btn-meired line-height-20 rad3 pad5 font-white">&#xe7ca;</i>
                    </div>
                </a>
                </li>
                <li class="clearfix pos-rel my-checkbox big" id="item_107709">
                    <a class="catname tit-bg-orange pos-abs"
                       href="http://www.zgncpw.com/sell/list-147051.html">红富士</a><a
                        href="http://www.zgncpw.com/sell/show-107709.html" class="font-gray-5" target="_blank">
                    <img class="big test" src="http://image.zgncpw.com:8000/zgncpw/201712/30/18/1809137030295.jpg"
                         alt="山东红富士苹果产地行情批发价格" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"/>
                    <div class="pad-t-d-10 text-align-c clearfix">
                        <h1 class="text-wid">山东红富士苹果产地行情批发价格</h1>
                        <span class="fxl fs-18"><span class="fxl fs-12">￥</span>0.90/斤</span>
                        <i class="fxr zgncpwfont btn-meired line-height-20 rad3 pad5 font-white">&#xe7ca;</i>
                    </div>
                </a>
                </li>
                <li class="clearfix pos-rel my-checkbox big" id="item_107454">
                    <a class="catname tit-bg-orange pos-abs"
                       href="http://www.zgncpw.com/sell/list-147051.html">红富士</a><a
                        href="http://www.zgncpw.com/sell/show-107454.html" class="font-gray-5" target="_blank">
                    <img class="big test" src="http://image.zgncpw.com:8000/zgncpw/201712/28/19/1942054830295.jpg"
                         alt="山东红富士苹果年前批发价格行情" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"/>
                    <div class="pad-t-d-10 text-align-c clearfix">
                        <h1 class="text-wid">山东红富士苹果年前批发价格行情</h1>
                        <span class="fxl fs-18"><span class="fxl fs-12">￥</span>0.90/斤</span>
                        <i class="fxr zgncpwfont btn-meired line-height-20 rad3 pad5 font-white">&#xe7ca;</i>
                    </div>
                </a>
                </li>
                <li class="clearfix pos-rel my-checkbox big" id="item_100577">
                    <a class="catname tit-bg-orange pos-abs"
                       href="http://www.zgncpw.com/sell/list-147051.html">红富士</a><a
                        href="http://www.zgncpw.com/sell/show-100577.html" class="font-gray-5" target="_blank">
                    <img class="big test" src="http://image.zgncpw.com:8000/zgncpw/201710/05/10/1031306830295.jpg"
                         alt="哪里的红富士苹果颜色好价格便宜" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"/>
                    <div class="pad-t-d-10 text-align-c clearfix">
                        <h1 class="text-wid">哪里的红富士苹果颜色好价格便宜</h1>
                        <span class="fxl fs-18"><span class="fxl fs-12">￥</span>0.60/斤</span>
                        <i class="fxr zgncpwfont btn-meired line-height-20 rad3 pad5 font-white">&#xe7ca;</i>
                    </div>
                </a>
                </li>
                <li class="clearfix pos-rel my-checkbox big" id="item_99538">
                    <a class="catname tit-bg-orange pos-abs" href="http://www.zgncpw.com/sell/list-65.html">苹果</a><a
                        href="http://www.zgncpw.com/sell/show-99538.html" class="font-gray-5" target="_blank">
                    <img class="big test" src="http://image.zgncpw.com:8000/zgncpw/201709/21/19/1958598430295.jpg"
                         alt="山东红富士苹果大量上市 质优价廉" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"/>
                    <div class="pad-t-d-10 text-align-c clearfix">
                        <h1 class="text-wid">山东红富士苹果大量上市 质优价廉</h1>
                        <span class="fxl fs-18"><span class="fxl fs-12">￥</span>0.80/斤</span>
                        <i class="fxr zgncpwfont btn-meired line-height-20 rad3 pad5 font-white">&#xe7ca;</i>
                    </div>
                </a>
                </li>
                <li class="clearfix pos-rel my-checkbox big" id="item_116192">
                    <a class="catname tit-bg-orange pos-abs" href="http://www.zgncpw.com/sell/list-135518.html">京欣</a><a
                        href="http://www.zgncpw.com/sell/show/116192/" class="font-gray-5" target="_blank">
                    <img class="big test" src="http://images.zgncpw.com/zgncpw_web/201804/28/1014066830295.jpg"
                         alt="山东大棚京欣西瓜上市批发价格" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"/>
                    <div class="pad-t-d-10 text-align-c clearfix">
                        <h1 class="text-wid">山东大棚京欣西瓜上市批发价格</h1>
                        <span class="fxl fs-18"><span class="fxl fs-12">￥</span>1.00/斤</span>
                        <i class="fxr zgncpwfont btn-meired line-height-20 rad3 pad5 font-white">&#xe7ca;</i>
                    </div>
                </a>
                </li>
                <li class="clearfix pos-rel my-checkbox big" id="item_115618">
                    <a class="catname tit-bg-orange pos-abs" href="http://www.zgncpw.com/sell/list-135518.html">京欣</a><a
                        href="http://www.zgncpw.com/sell/show-115618.html" class="font-gray-5" target="_blank">
                    <img class="big test" src="http://images.zgncpw.com/zgncpw_web/201804/15/2008456730295.jpeg"
                         alt="山东京欣西瓜大量上市" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"/>
                    <div class="pad-t-d-10 text-align-c clearfix">
                        <h1 class="text-wid">山东京欣西瓜大量上市</h1>
                        <span class="fxl fs-16">面议</span>
                        <i class="fxr zgncpwfont btn-meired line-height-20 rad3 pad5 font-white">&#xe7ca;</i>
                    </div>
                </a>
                </li>
                <li class="clearfix pos-rel my-checkbox big" id="item_104875">
                    <a class="catname tit-bg-orange pos-abs"
                       href="http://www.zgncpw.com/sell/list-147051.html">红富士</a><a
                        href="http://www.zgncpw.com/sell/show-104875.html" class="font-gray-5" target="_blank">
                    <img class="big test" src="http://image.zgncpw.com:8000/zgncpw/201711/25/19/1958099730295.jpg"
                         alt="山东沂蒙山红富士苹果大量批发" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"/>
                    <div class="pad-t-d-10 text-align-c clearfix">
                        <h1 class="text-wid">山东沂蒙山红富士苹果大量批发</h1>
                        <span class="fxl fs-18"><span class="fxl fs-12">￥</span>0.80/斤</span>
                        <i class="fxr zgncpwfont btn-meired line-height-20 rad3 pad5 font-white">&#xe7ca;</i>
                    </div>
                </a>
                </li>
                <li class="clearfix pos-rel my-checkbox big" id="item_102542">
                    <a class="catname tit-bg-orange pos-abs"
                       href="http://www.zgncpw.com/sell/list-147051.html">红富士</a><a
                        href="http://www.zgncpw.com/sell/show-102542.html" class="font-gray-5" target="_blank">
                    <img class="big test" src="http://image.zgncpw.com:8000/zgncpw/201710/29/19/1957549830295.jpg"
                         alt="精品条纹红富士苹果大量批发" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"/>
                    <div class="pad-t-d-10 text-align-c clearfix">
                        <h1 class="text-wid">精品条纹红富士苹果大量批发</h1>
                        <span class="fxl fs-18"><span class="fxl fs-12">￥</span>1.20/斤</span>
                        <i class="fxr zgncpwfont btn-meired line-height-20 rad3 pad5 font-white">&#xe7ca;</i>
                    </div>
                </a>
                </li>
                <li class="clearfix pos-rel my-checkbox big" id="item_101062">
                    <a class="catname tit-bg-orange pos-abs"
                       href="http://www.zgncpw.com/sell/list-147051.html">红富士</a><a
                        href="http://www.zgncpw.com/sell/show/101062/" class="font-gray-5" target="_blank">
                    <img class="big test" src="http://image.zgncpw.com:8000/zgncpw/201710/12/10/1006557312275.jpg"
                         alt="山东红富士苹果产地批发" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"/>
                    <div class="pad-t-d-10 text-align-c clearfix">
                        <h1 class="text-wid">山东红富士苹果产地批发</h1>
                        <span class="fxl fs-18"><span class="fxl fs-12">￥</span>0.80/斤</span>
                        <i class="fxr zgncpwfont btn-meired line-height-20 rad3 pad5 font-white">&#xe7ca;</i>
                    </div>
                </a>
                </li>
                <li class="clearfix pos-rel my-checkbox big" id="item_96323">
                    <a class="catname tit-bg-orange pos-abs" href="http://www.zgncpw.com/sell/list-65.html">苹果</a><a
                        href="http://www.zgncpw.com/sell/show/96323/" class="font-gray-5" target="_blank">
                    <img class="big test" src="http://image.zgncpw.com:8000/zgncpw/201803/30/1143047112275.jpg"
                         alt="山东苹果产地批发价格" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"/>
                    <div class="pad-t-d-10 text-align-c clearfix">
                        <h1 class="text-wid">山东苹果产地批发价格</h1>
                        <span class="fxl fs-16">面议</span>
                        <i class="fxr zgncpwfont btn-meired line-height-20 rad3 pad5 font-white">&#xe7ca;</i>
                    </div>
                </a>
                </li>
                <li class="clearfix pos-rel my-checkbox big" id="item_94893">
                    <a class="catname tit-bg-orange pos-abs" href="http://www.zgncpw.com/sell/list-65.html">苹果</a><a
                        href="http://www.zgncpw.com/sell/show/94893/" class="font-gray-5" target="_blank">
                    <img class="big test" src="http://image.zgncpw.com:8000/zgncpw/201708/10/23/2306519430295.jpg"
                         alt="苹果批发 红富士苹果批发多少钱一斤" onmouseover="img_tip(this, this.src);"
                         onmouseout="img_tip(this, '');"/>
                    <div class="pad-t-d-10 text-align-c clearfix">
                        <h1 class="text-wid">苹果批发 红富士苹果批发多少钱一斤</h1>
                        <span class="fxl fs-18"><span class="fxl fs-12">￥</span>0.60/斤</span>
                        <i class="fxr zgncpwfont btn-meired line-height-20 rad3 pad5 font-white">&#xe7ca;</i>
                    </div>
                </a>
                </li>
                <li class="clearfix pos-rel my-checkbox big" id="item_85902">
                    <a class="catname tit-bg-orange pos-abs" href="http://www.zgncpw.com/sell/list-769.html">西瓜</a><a
                        href="http://www.zgncpw.com/sell/show/85902/" class="font-gray-5" target="_blank">
                    <img class="big test" src="http://image.zgncpw.com:8000/zgncpw/201704/30/13/21/1321484730295.jpg"
                         alt="山东京欣西瓜产地批发价格行情" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"/>
                    <div class="pad-t-d-10 text-align-c clearfix">
                        <h1 class="text-wid">山东京欣西瓜产地批发价格行情</h1>
                        <span class="fxl fs-18"><span class="fxl fs-12">￥</span>0.70/斤</span>
                        <i class="fxr zgncpwfont btn-meired line-height-20 rad3 pad5 font-white">&#xe7ca;</i>
                    </div>
                </a>
                </li>
                <li class="clearfix pos-rel my-checkbox big" id="item_117322">
                    <a class="catname tit-bg-orange pos-abs" href="http://www.zgncpw.com/sell/list-27488.html">油桃</a><a
                        href="http://www.zgncpw.com/sell/show/117322/" class="font-gray-5" target="_blank">
                    <img class="big test" src="http://images.zgncpw.com/zgncpw_web/201805/23/0810536030295.jpg"
                         alt="山东油桃基地批发 中油4号油桃价格下跌" onmouseover="img_tip(this, this.src);"
                         onmouseout="img_tip(this, '');"/>
                    <div class="pad-t-d-10 text-align-c clearfix">
                        <h1 class="text-wid">山东油桃基地批发 中油4号油桃价格下跌</h1>
                        <span class="fxl fs-16">面议</span>
                        <i class="fxr zgncpwfont btn-meired line-height-20 rad3 pad5 font-white">&#xe7ca;</i>
                    </div>
                </a>
                </li>
                <li class="clearfix pos-rel my-checkbox big" id="item_117249">
                    <a class="catname tit-bg-orange pos-abs" href="http://www.zgncpw.com/sell/list-27488.html">油桃</a><a
                        href="http://www.zgncpw.com/sell/show/117249/" class="font-gray-5" target="_blank">
                    <img class="big test" src="http://images.zgncpw.com/zgncpw_web/201805/21/1147437130295.jpg"
                         alt="山东油桃基地批发 近期油桃价格下跌" onmouseover="img_tip(this, this.src);"
                         onmouseout="img_tip(this, '');"/>
                    <div class="pad-t-d-10 text-align-c clearfix">
                        <h1 class="text-wid">山东油桃基地批发 近期油桃价格下跌</h1>
                        <span class="fxl fs-16">面议</span>
                        <i class="fxr zgncpwfont btn-meired line-height-20 rad3 pad5 font-white">&#xe7ca;</i>
                    </div>
                </a>
                </li>
                <li class="clearfix pos-rel my-checkbox big" id="item_117248">
                    <a class="catname tit-bg-orange pos-abs" href="http://www.zgncpw.com/sell/list-769.html">西瓜</a><a
                        href="http://www.zgncpw.com/sell/show/117248/" class="font-gray-5" target="_blank">
                    <img class="big test" src="http://images.zgncpw.com/zgncpw_web/201805/21/1145202330295.jpg"
                         alt="山东原棚西瓜价格便宜了  近期批发行情咨询" onmouseover="img_tip(this, this.src);"
                         onmouseout="img_tip(this, '');"/>
                    <div class="pad-t-d-10 text-align-c clearfix">
                        <h1 class="text-wid">山东原棚西瓜价格便宜了 近期批发行情咨询</h1>
                        <span class="fxl fs-16">面议</span>
                        <i class="fxr zgncpwfont btn-meired line-height-20 rad3 pad5 font-white">&#xe7ca;</i>
                    </div>
                </a>
                </li>
                <li class="clearfix pos-rel my-checkbox big" id="item_116381">
                    <a class="catname tit-bg-orange pos-abs" href="http://www.zgncpw.com/sell/list-135518.html">京欣</a><a
                        href="http://www.zgncpw.com/sell/show/116381/" class="font-gray-5" target="_blank">
                    <img class="big test" src="http://images.zgncpw.com/zgncpw_web/201805/03/1627175330295.jpg"
                         alt="哪里的西瓜熟了 哪里的西瓜甜" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"/>
                    <div class="pad-t-d-10 text-align-c clearfix">
                        <h1 class="text-wid">哪里的西瓜熟了 哪里的西瓜甜</h1>
                        <span class="fxl fs-18"><span class="fxl fs-12">￥</span>0.70/斤</span>
                        <i class="fxr zgncpwfont btn-meired line-height-20 rad3 pad5 font-white">&#xe7ca;</i>
                    </div>
                </a>
                </li>
                <li class="clearfix pos-rel my-checkbox big" id="item_116380">
                    <a class="catname tit-bg-orange pos-abs" href="http://www.zgncpw.com/sell/list-135518.html">京欣</a><a
                        href="http://www.zgncpw.com/sell/show/116380/" class="font-gray-5" target="_blank">
                    <img class="big test" src="http://images.zgncpw.com/zgncpw_web/201805/03/1625467930295.jpg"
                         alt="山东薄皮沙瓤甜西瓜批发价格" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"/>
                    <div class="pad-t-d-10 text-align-c clearfix">
                        <h1 class="text-wid">山东薄皮沙瓤甜西瓜批发价格</h1>
                        <span class="fxl fs-18"><span class="fxl fs-12">￥</span>0.70/斤</span>
                        <i class="fxr zgncpwfont btn-meired line-height-20 rad3 pad5 font-white">&#xe7ca;</i>
                    </div>
                </a>
                </li>
            </ul>
            <div class="clear"></div>
            <div class="pages"><input type="hidden" id="destoon_previous"
                                      value="http://www.zgncpw.com/sell/list-13-383.html"/><a
                    href="http://www.zgncpw.com/sell/list-13-383.html">&nbsp;&#171;上一页&nbsp;</a>
                <strong>&nbsp;1&nbsp;</strong> <a href="http://www.zgncpw.com/sell/list-13-2.html">&nbsp;2&nbsp;</a>
                &nbsp;&#8230;&nbsp; <a href="http://www.zgncpw.com/sell/list-13-3.html">&nbsp;3&nbsp;</a> <a
                        href="http://www.zgncpw.com/sell/list-13-4.html">&nbsp;4&nbsp;</a> <a
                        href="http://www.zgncpw.com/sell/list-13-5.html">&nbsp;5&nbsp;</a> <a
                        href="http://www.zgncpw.com/sell/list-13-6.html">&nbsp;6&nbsp;</a> <a
                        href="http://www.zgncpw.com/sell/list-13-7.html">&nbsp;7&nbsp;</a> &nbsp;&#8230;&nbsp; <a
                        href="http://www.zgncpw.com/sell/list-13-382.html">&nbsp;382&nbsp;</a> <a
                        href="http://www.zgncpw.com/sell/list-13-383.html">&nbsp;383&nbsp;</a> <a
                        href="http://www.zgncpw.com/sell/list-13-2.html">&nbsp;下一页&#187;&nbsp;</a> <input type="hidden"
                                                                                                          id="destoon_next"
                                                                                                          value="http://www.zgncpw.com/sell/list-13-2.html"/>&nbsp;<cite>共7658条/383页</cite>&nbsp;<input
                        type="text" class="pages_inp" id="destoon_pageno" value="1"
                        onkeydown="if(event.keyCode==13 && this.value) {window.location.href='http://www.zgncpw.com/sell/list-13-{destoon_page}.html'.replace(/\{destoon_page\}/, this.value);return false;}">
                <input type="button" class="pages_btn" value="GO"
                       onclick="if(Dd('destoon_pageno').value>0)window.location.href='http://www.zgncpw.com/sell/list-13-{destoon_page}.html'.replace(/\{destoon_page\}/, Dd('destoon_pageno').value);"/>
            </div>
            <div class="icon-nodata clearfix">
                <img class="fxl" src="http://www.zgncpw.com/skin/skin2018/image/common/nodata.png">
                <div class="fxl clearfix font-gray-9 mar10-l">
                    <div class="clear h10"></div>
                    <p class="line-height-40">
                        <span class="fxl fs-24">该分类暂无数据&nbsp;</span>
                        <img class="fxl" style="width:40px;border:0px;"
                             src="http://www.zgncpw.com/skin/skin2018/image/common/logo_weenong.png">
                    </p>
                    <div class="clear h10"></div>
                    <p class="fs-16">我们的成长离不开您的支持，现在就去</p>
                    <div class="clear h10"></div>
                    <a target="_blank" href="/member/my.php?mid=5&action=add"
                       class="btn-blue-border-1 btn-normal line-height-18 rad3"><i class="iconfont-comm">&#xe875;</i>&nbsp;上传</a>。
                </div>
            </div>
        </div>
    </div>
    <div class="clear h40"></div>

    <div class="pub-footer clearfix">
        <div class="down clearfix">
            Copyright © 2017 维贸网络 <span>版权所有</span>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="font-gray"></span>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://www.miibeian.gov.cn" target="_blank">冀ICP备15003989号-2</a>&nbsp;&nbsp;&nbsp;&nbsp;<span
                class="font-gray"></span>&nbsp;&nbsp;&nbsp;&nbsp;
            增值电信业务经营许可证：冀B2-20160010
            &nbsp;&nbsp;&nbsp;&nbsp;<img src="http://image.zgncpw.com:8000/public/down/beian.png">冀公网安备
            13102202000368号<span
                class="font-gray"></span>&nbsp;&nbsp;&nbsp;&nbsp;
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1260742642'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260742642%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
        </div>
    </div>

</body>
</html>
