<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="baidu-site-verification" content="xuKXK2l4cL"/>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?88c6709588333786f1bc43a6585b6dda";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <title>农产品交易网</title>
    <meta name="keywords"
          content="农产品,中国农产品网,农产品网,农产品信息网,农产品交易网,农产品批发,食品安全,农副产品,休闲农业,农资,农产品加工,土特产,美丽乡村,现代农业,农业技术,农家乐,农业项目"/>
    <meta name="description"
          content="中国农产品网是国内规模和专业化的农产品在线交易综合服务平台,致力于服务三农,打造（互联网+农业）行业网站品牌.网站主要提供农副产品（含土特产,农资,农机类产品）网上展销,农产品供求信息发布,农产品价格行情,农产品网上安全交易,农产品批发,团购,农业动态、农业技术指导等服务,曾被称为永不闭幕的网上农贸市场!"/>
    <!--<meta http-equiv="mobile-agent" content="format=html5;url=http://m.zgncpw.com/" />-->
    <link rel="icon" type="image/x-icon" href="pic/icon.png"/>
    <!--<link rel="bookmark" type="image/x-icon" href="http://www.zgncpw.com/favicon.ico"/>-->
    <!--<link rel="archives" title="农产品网" href="http://www.zgncpw.com/archiver/"/>-->
    <link rel="stylesheet" href="css/home.css"/>

    <link rel="stylesheet" type="text/css" href="css/common.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/icon.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>

    <script type="text/javascript" src="http://www.zgncpw.com/lang/zh-cn/lang.js"></script>
    <script type="text/javascript" src="http://www.zgncpw.com/file/script/config.js"></script>
    <script type="text/javascript" src="http://www.zgncpw.com/file/script/jquery.js"></script>
    <script type="text/javascript" src="http://www.zgncpw.com/file/script/common.js"></script>
    <script type="text/javascript" src="http://www.zgncpw.com/file/script/share.js"></script>
    <script type="text/javascript" src="http://www.zgncpw.com/file/script/page.js"></script>
    <script type="text/javascript"
            src="http://www.zgncpw.com/file/script/common/imgmore.min.js?version=20180114"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

<div id="destoon_qrcode" style="display:none;"></div>
<div class="con-width-1200" id="destoon_space"></div>
<div class="bg-gray-e clearfix">
    <div class="con-width-1200 pos-rel top-sub clearfix">
        <div class="fxl logo">
            <a href="http://localhost:8080/agriculture/index">
                <img class="logo-all fxl"
                     src="pic/logo.png"
                     alt="环球农产品网"/>
            </a>
        </div>
        <div id="info" class="login" style="height: 100%;line-height: 84px;float: right;margin-right: 2cm;">
            <a href="view/login.html" >登录&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a href="view/register.html" >注册</a>
        </div>
    </div>
    <div class="bg-color-green clearfix" id="top-menu">
        <div class="con-width-1200 pub-menu-new pos-rel clearfix">
            <div class="fxl drop-down-menu">
                <ul>
                    <li class="sub-menu pos-rel one">
                        <ul id="goods-list" class="pos-abs one-li-new left-m" style="display: none;">
                        </ul>
                    </li>
                    <li><a class="sub home" href="#">首页</a></li>
                    <li><a target="_blank" class="sub buyer" href="#">买家需求</a></li>
                    <li><a target="_blank" class="sub seller" href="#">卖家需求</a></li>
                    <li><a target="_blank" class="sub local" href="#">地区频道</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="css/index.min.css"/>
<style>
    .li01 ul li a {
        float: left;
        width: 140px;
    }

    .li-list-line.auto-scroll ul li a {
        width: 300px;
    }
</style>
<div class="con-width-1200 clearfix" style="height:280px;">
    <div class="fxl clearfix mid-adv">
        <div class="imgmore pos-rel"
             style="display:block;background:url(pic/banner34.jpg);background-size:auto 250px !important;height:250px;width:760px;">
        </div>
        <!--<div class="clear" style="height:3px;"></div>-->
        <!--<div class="fxl clearfix" style="width:370px;">-->
            <!--<div class="pub-tit-sub pos-rel clearfix">-->
                <!--<span>求购速递</span>-->
                <!--<a href="/buy" target="_blank" class="fxr">更多<i class="weimaofont">&#xe64f;</i></a>-->
                <!--<a href="#" target="_blank" class="fxr font-blue">我要买</a> &lt;!&ndash;这里买东西网页&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="li-list-line gray-frame clearfix auto-scroll" id="autoScroll">-->
                <!--<ul>-->
                    <!--<li class="clearfix">-->
                        <!--<a class="fxl text-wid" target="_blank"-->
                           <!--href="http://www.zgncpw.com/buy/show-15774.html">求购大量小米</a>-->
                    <!--</li>-->
                    <!--<li class="clearfix">-->
                        <!--<a class="fxl text-wid" target="_blank"-->
                           <!--href="http://www.zgncpw.com/buy/show-15773.html">求购大量玉米</a>-->
                    <!--</li>-->
                    <!--<li class="clearfix">-->
                        <!--<a class="fxl text-wid" target="_blank" href="http://www.zgncpw.com/buy/show-15772.html">粮库收购小麦糯米大米</a>-->
                    <!--</li>-->
                    <!--<li class="clearfix">-->
                        <!--<a class="fxl text-wid" target="_blank" href="http://www.zgncpw.com/buy/show-15771.html">成都收购玉米高粱碎米</a>-->
                    <!--</li>-->
                    <!--<li class="clearfix">-->
                        <!--<a class="fxl text-wid" target="_blank" href="http://www.zgncpw.com/buy/show-15770.html">饲料厂常年现款求购玉米</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="fxr clearfix" style="width:370px;">-->
            <!--<div class="pub-tit-sub pos-rel clearfix">-->
                <!--<span>供应速递</span>-->
                <!--<a href="/sell" target="_blank" class="fxr">更多<i class="weimaofont">&#xe64f;</i></a>-->
                <!--<a href="#" target="_blank" class="fxr font-blue">我要卖</a>-->
            <!--</div>-->
            <!--<div class="li-list-line gray-frame clearfix auto-scroll" id="autoScroll2">-->
                <!--<ul>-->
                    <!--<li class="clearfix">-->
                        <!--<a class="fxl text-wid" target="_blank" href="http://www.zgncpw.com/sell/show/116898/"-->
                           <!--style="width:300px">山东生姜产地批发 出口大姜常年供</a>-->
                        <!--<span class="fxr"><img class="vip-img"-->
                                               <!--src="http://www.zgncpw.com/skin/skin2018/image/vip_1.gif"/></span>-->
                        <!--&lt;!&ndash; <em class="fxr font-gray">05-13</em> &ndash;&gt;-->
                    <!--</li>-->
                    <!--<li class="clearfix">-->
                        <!--<a class="fxl text-wid" target="_blank" href="http://www.zgncpw.com/sell/show/116897/"-->
                           <!--style="width:300px">山东生姜产地批发 优质大姜 姜种价</a>-->
                        <!--<span class="fxr"><img class="vip-img"-->
                                               <!--src="http://www.zgncpw.com/skin/skin2018/image/vip_1.gif"/></span>-->
                        <!--&lt;!&ndash; <em class="fxr font-gray">05-13</em> &ndash;&gt;-->
                    <!--</li>-->
                    <!--<li class="clearfix">-->
                        <!--<a class="fxl text-wid" target="_blank" href="http://www.zgncpw.com/sell/show/116848/"-->
                           <!--style="width:300px">辽阳千百禾生态鸡批发价格，盘锦千</a>-->
                        <!--<span class="fxr"><img class="vip-img"-->
                                               <!--src="http://www.zgncpw.com/skin/skin2018/image/vip_1.gif"/></span>-->
                        <!--&lt;!&ndash; <em class="fxr font-gray">05-11</em> &ndash;&gt;-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="fxr clearfix" style="width:200px;overflow:hidden; margin-top: 80px;;">
        <div class="time-con pos-rel clearfix">
            <div class="bg opa-2"></div>
            <div class="pos-abs font" id="nowTime"></div>
        </div>
        <!--<div class="clearline"></div>-->
        <!--<div class="gray-frame clearfix">-->
            <!--<div class="public-tit-sub2 pos-rel bg-white clearfix">-->
                <!--<span class="pos-abs">公告栏</span>-->
                <!--<a href="/announce/" target="_blank" class="fxr">更多<i class="weimaofont">&#xe64f;</i></a>-->
            <!--</div>-->
            <!--<div class="li01 frame-gray bg-white clearfix" style="padding:5px;height:140px;line-height:30px;">-->
                <!--<ul>-->
                    <!--<li><span class="f_r px11">&nbsp;01-31</span><a href="http://www.zgncpw.com/announce/show-12.html"-->
                                                                    <!--target="_blank" class="text-wid" title="欢迎投稿或发文合作！"><span-->
                            <!--style="color:#0000FF">欢迎投稿或发文合作！</span></a></li>-->
                    <!--<li><span class="f_r px11">&nbsp;04-26</span><a href="http://www.zgncpw.com/announce/show-18.html"-->
                                                                    <!--target="_blank" class="text-wid"-->
                                                                    <!--title="农家社区论坛积分可兑换农产品网VIP会员啦"><span-->
                            <!--style="color:#FF9900">农家社区论坛积分可兑换农产品网</span></a></li>-->
                    <!--<li><span class="f_r px11">&nbsp;09-29</span><a href="http://www.zgncpw.com/announce/show-17.html"-->
                                                                    <!--target="_blank" class="text-wid"-->
                                                                    <!--title="如果发布农产品供应信息？"><span style="color:#000000">如果发布农产品供应信息？</span></a>-->
                    <!--</li>-->
                    <!--<li><span class="f_r px11">&nbsp;07-31</span><a href="http://www.zgncpw.com/announce/show-16.html"-->
                                                                    <!--target="_blank" class="text-wid"-->
                                                                    <!--title="关于在全国范围内诚征区域代理商的公告"><span-->
                            <!--style="color:#FF6600">关于在全国范围内诚征区域代理商</span></a></li>-->
                    <!--<li><span class="f_r px11">&nbsp;05-09</span><a href="http://www.zgncpw.com/announce/show-15.html"-->
                                                                    <!--target="_blank" class="text-wid"-->
                                                                    <!--title="（中国）农产品网APP下载"><span style="color:#33CCCC">（中国）农产品网APP下载</span></a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
<div class="clear h30"></div>

<div class="con-width-1200 clearfix">
    <div class="fxr sell-block clearfix" style="height:300px; width: 85%;">
        <div class="title clearfix">
            <h1 class="fxl">活跃品类交易</h1>
        </div>
        <div class="clear"></div>
        <ul class="clearfix buy-list pad20" name="liall6" id="goods_sug">

        </ul>
    </div>
</div>
<div class="clear h30"></div>

<style>
   @keyframes anidown {
        0% {
            bottom: -200px;
        }
        100% {
            bottom: 10px;
        }
    }

    @-webkit-keyframes anidown {
        0% {
            bottom: -200px;
        }
        100% {
            bottom: 10px;
        }
    }

    @-moz-keyframes anidown {
        0% {
            bottom: -200px;
        }
        100% {
            bottom: 10px;
        }
    }
</style>
<script type="text/javascript" src="js/home.js"></script>

<div class="clear"></div>
<div class="pub-footer clearfix">
    <style>
        .down-img a img {
            margin: 0px;
        }
    </style>
    <div class="down clearfix">
        Copyright © 2017 维贸网络 <span>版权所有</span>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="font-gray"></span>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.miibeian.gov.cn" target="_blank">冀ICP备15003989号-2</a>&nbsp;&nbsp;&nbsp;&nbsp;<span
            class="font-gray"></span>&nbsp;&nbsp;&nbsp;&nbsp;
        增值电信业务经营许可证：冀B2-20160010
        &nbsp;&nbsp;&nbsp;&nbsp;<img src="http://image.zgncpw.com:8000/public/down/beian.png"/>冀公网安备
        13102202000368号<span
            class="font-gray"></span>&nbsp;&nbsp;&nbsp;&nbsp;
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1260742642'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260742642%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
</div>

</body>
</html>
