<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="baidu-site-verification" content="xuKXK2l4cL"/>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?88c6709588333786f1bc43a6585b6dda";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <title>环球农产品网</title>
    <meta name="keywords"
          content="农产品,中国农产品网,农产品网,农产品信息网,农产品交易网,农产品批发,食品安全,农副产品,休闲农业,农资,农产品加工,土特产,美丽乡村,现代农业,农业技术,农家乐,农业项目"/>
    <meta name="description"
          content="中国农产品网是国内规模和专业化的农产品在线交易综合服务平台,致力于服务三农,打造（互联网+农业）行业网站品牌.网站主要提供农副产品（含土特产,农资,农机类产品）网上展销,农产品供求信息发布,农产品价格行情,农产品网上安全交易,农产品批发,团购,农业动态、农业技术指导等服务,曾被称为永不闭幕的网上农贸市场!"/>
    <!--<meta http-equiv="mobile-agent" content="format=html5;url=http://m.zgncpw.com/" />-->
    <link rel="icon" type="image/x-icon" href="pic/icon.png"/>
    <!--<link rel="bookmark" type="image/x-icon" href="http://www.zgncpw.com/favicon.ico"/>-->
    <!--<link rel="archives" title="农产品网" href="http://www.zgncpw.com/archiver/"/>-->
    <link rel="stylesheet" href="css/home.css"/>

    <link rel="stylesheet" type="text/css" href="css/common.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/icon.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="http://www.zgncpw.com/skin/skin2018/ie6.css"/>
    <![endif]-->
    <script type="text/javascript">window.onerror = function () {
        return true;
    }</script>
    <script type="text/javascript" src="http://www.zgncpw.com/lang/zh-cn/lang.js"></script>
    <script type="text/javascript" src="http://www.zgncpw.com/file/script/config.js"></script>
    <script type="text/javascript" src="http://www.zgncpw.com/file/script/jquery.js"></script>
    <script type="text/javascript" src="http://www.zgncpw.com/file/script/common.js"></script>
    <script type="text/javascript" src="http://www.zgncpw.com/file/script/share.js"></script>
    <script type="text/javascript" src="http://www.zgncpw.com/file/script/page.js"></script>
    <script type="text/javascript" src="http://www.zgncpw.com/file/script/common/comm.min.js?version=20180114"></script>
    <script type="text/javascript"
            src="http://www.zgncpw.com/file/script/common/imgmore.min.js?version=20180114"></script>

    <script type="text/javascript" src="js/home.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

<div id="destoon_qrcode" style="display:none;"></div>
<div class="con-width-1200" id="destoon_space"></div>
<div class="public-top clearfix bg-top">
    <style>
        .public-top {
            width: auto;
            height: 15px;
        }
    </style>
</div>
<div class="bg-gray-e clearfix">
    <div class="con-width-1200 pos-rel top-sub clearfix">
        <div class="fxl logo">
            <a href="http://localhost:8080/agriculture/index">
                <img class="logo-all fxl"
                     src="pic/logo.png"
                     alt="环球农产品网"/>
            </a>
        </div>
        <div class="login" style="height: 100%;line-height: 84px;float: right;">
            <a href="view/login.html">登录</a>
            <a href="view/register.html">注册</a>
        </div>
    </div>
    <div class="bg-color-green clearfix" id="top-menu">
        <div class="con-width-1200 pub-menu-new pos-rel clearfix">
            <div class="fxl drop-down-menu">
                <ul>
                    <li class="sub-menu pos-rel one">
                        <ul class="pos-abs one-li-new left-m" style="display: none;">
                            <li class="one-0 no" title="生鲜水果">
                                <a href="http://www.zgncpw.com/sell/list-13.html" target="_blank">
                                    <span>生鲜水果</span>
                                </a>
                                <ul class="pos-abs">
                                    <li class="clearfix two-0">
                                        <b><a href="http://www.zgncpw.com/sell/list-62.html" target="_blank">草莓</a></b>
                                    </li>
                                </ul>
                            </li>
                            <li class="one-1 no" title="新鲜蔬菜">
                                <a href="http://www.zgncpw.com/sell/list-9.html" target="_blank">
                                    <span>新鲜蔬菜</span>
                                </a>
                                <ul class="pos-abs">
                                    <li class="clearfix two-0">
                                        <b><a href="http://www.zgncpw.com/sell/list-40.html" target="_blank">竹笋</a></b>
                                    </li>
                                </ul>
                            </li>
                            <li class="one-2" title="畜牧水产">
                                <a href="http://www.zgncpw.com/sell/list-16.html" target="_blank">
                                    <span>畜牧水产</span>
                                </a>
                                <ul class="pos-abs" style="display: none;">
                                    <li class="clearfix two-0">
                                        <b><a href="http://www.zgncpw.com/sell/list-767.html"
                                              target="_blank">畜禽类</a></b>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-86.html">羊</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-87.html">兔</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-199.html">鸭</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-200.html">鸡</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-201.html">鹅</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-611.html">雁</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-610.html">山鸡</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-848.html">猪</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-849.html">牛</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-850.html">狗</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-851.html">鸽子</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-852.html">马</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-853.html">驴</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-854.html">骡</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-855.html">火鸡</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-857.html">乌骨鸡</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-858.html">贵妃鸡</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-859.html">野猪</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-860.html">香猪</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-861.html">豪猪</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1005.html">珍珠鸡</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-27457.html">鸵鸟</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-27463.html">鹧鸪</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-134097.html">骆驼</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="one-3" title="米面粮油">
                                <a href="http://www.zgncpw.com/sell/list-6.html" target="_blank">
                                    <span>米面粮油</span>
                                </a>
                                <ul class="pos-abs" style="display: none;">
                                    <li class="clearfix two-0">
                                        <b><a href="http://www.zgncpw.com/sell/list-5.html" target="_blank">主粮</a></b>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-211.html">大米</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-19.html">麦类</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-20.html">玉米</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-21.html">稻谷</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-24.html">面粉</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-25.html">米粉</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-27.html">粉丝</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-23.html">其它粮食</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-755.html">挂面</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-757.html">小米</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-758.html">黄米面</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1140.html">莜面</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-27471.html">粉条</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-27472.html">淀粉</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="one-4" title="农副产品">
                                <a href="http://www.zgncpw.com/sell/list-202.html" target="_blank">
                                    <span>农副产品</span>
                                </a>
                                <ul class="pos-abs">
                                    <li class="clearfix two-0">
                                        <b><a href="http://www.zgncpw.com/sell/list-15.html"
                                              target="_blank">茶叶酒饮</a></b>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-77.html">绿茶</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-78.html">红茶</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-79.html">花茶</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-80.html">保健茶</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-81.html">普洱茶</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-956.html">黄茶</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-957.html">白茶</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-961.html">乌龙茶</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-963.html">黑茶</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-82.html">其它</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-965.html">毛尖</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-968.html">绞股</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-970.html">蓝茶</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-975.html">酒花茶</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1152.html">葡萄酒</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1153.html">白酒</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1154.html">保健酒</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1155.html">黄酒</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1156.html">进口酒类</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1157.html">饮料</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-24226.html">咖啡</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-24512.html">油茶</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-24515.html">贡菊</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-24812.html">苦丁茶</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-25085.html">湄潭翠芽</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-25088.html">铁观音</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-25132.html">金花茶</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-25285.html">龙井茶</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-25305.html">碧螺春</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-25308.html">茉莉花茶</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-25311.html">六安瓜片</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-44174.html">玫瑰花茶</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-96803.html">红酒</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="one-6" title="花卉苗木">
                                <a href="http://www.zgncpw.com/sell/list-17.html" target="_blank">
                                    <span>花卉苗木</span>
                                </a>
                                <ul class="pos-abs">
                                    <li class="clearfix two-0">
                                        <b><a href="http://www.zgncpw.com/sell/list-89.html"
                                              target="_blank">绿化类苗木</a></b>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-91.html">竹类</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-92.html">草坪</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="one-7" title="中草药材">
                                <a href="http://www.zgncpw.com/sell/list-1123.html" target="_blank">
                                    <span>中草药材</span>
                                </a>
                                <ul class="pos-abs">
                                    <li class="clearfix two-0">
                                        <b><a href="http://www.zgncpw.com/sell/list-1141.html"
                                              target="_blank">根茎类</a></b>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1158.html">人参</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1159.html">附子</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="one-9" title="地方特产">
                                <a href="http://www.zgncpw.com/sell/list-1693.html" target="_blank">
                                    <span>地方特产</span>
                                </a>
                                <ul class="pos-abs" style="display: none;">
                                    <li class="clearfix two-0">
                                        <b><a href="http://www.zgncpw.com/sell/list-1865.html" target="_blank">北京特产</a></b>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1868.html">东城土特产</a>
                                        <a target="_blank" href="http://www.zgncpw.com/sell/list-1884.html">京八件</a>
                                        <a target="_blank" href="http://www.zgncpw.com/sell/list-1885.html">老北京灌肠</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1869.html">西城特产</a>
                                        <a target="_blank" href="http://www.zgncpw.com/sell/list-1895.html">酸豆汁</a>
                                        <a target="_blank" href="http://www.zgncpw.com/sell/list-1896.html">豌豆黄</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1870.html">朝阳特产</a>
                                        <a target="_blank" href="http://www.zgncpw.com/sell/list-1902.html">冰糖葫芦</a>
                                        <a target="_blank" href="http://www.zgncpw.com/sell/list-1903.html">北京酱黄瓜</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1871.html">丰台特产</a>
                                        <a target="_blank" href="http://www.zgncpw.com/sell/list-27476.html">长辛店白枣</a>
                                        <a target="_blank" href="http://www.zgncpw.com/sell/list-27477.html">太子峪大枣</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1872.html">石景山特产</a>
                                        <a target="_blank" href="http://www.zgncpw.com/sell/list-1912.html">老北京糊塌子</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1873.html">海淀特产</a>
                                        <a target="_blank" href="http://www.zgncpw.com/sell/list-1915.html">京西稻</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1874.html">门头沟特产</a>
                                        <a target="_blank" href="http://www.zgncpw.com/sell/list-1921.html">京白梨</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1875.html">房山特产</a>
                                        <a target="_blank" href="http://www.zgncpw.com/sell/list-1927.html">房山磨盘柿</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1876.html">顺义特产</a>
                                        <a target="_blank" href="http://www.zgncpw.com/sell/list-1930.html">鑫双河樱桃</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1877.html">大兴特产</a>
                                        <a target="_blank" href="http://www.zgncpw.com/sell/list-1936.html">安定桑葚</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1878.html">平谷特产</a>
                                        <a target="_blank" href="http://www.zgncpw.com/sell/list-1943.html">平谷鲜桃</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1879.html">延庆特产</a>
                                        <a target="_blank" href="http://www.zgncpw.com/sell/list-1947.html">燕山板栗</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1880.html">密云特产</a>
                                        <a target="_blank" href="http://www.zgncpw.com/sell/list-1952.html">密云甘栗</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1881.html">怀柔特产</a>
                                        <a target="_blank" href="http://www.zgncpw.com/sell/list-1956.html">怀柔板栗</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1882.html">昌平特产</a>
                                        <a target="_blank" href="http://www.zgncpw.com/sell/list-1960.html">昌平草莓</a>
                                        <a target="_blank" class="four-bold"
                                           href="http://www.zgncpw.com/sell/list-1883.html">通州特产</a>
                                        <a target="_blank" href="http://www.zgncpw.com/sell/list-1965.html">通州大樱桃</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="sub home" href="#">首页</a></li>
                    <li><a target="_blank" class="sub buyer" href="#">买家需求</a></li>
                    <li><a target="_blank" class="sub seller" href="#">买家需求</a></li>
                    <li><a target="_blank" class="sub local" href="#">地区频道</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--<link rel="stylesheet" type="text/css" href="http://www.zgncpw.com/skin/skin2018/pages/index.min.css?version=20180114"/>-->
<link rel="stylesheet" type="text/css" href="css/index.min.css"/>

<div class="con-width-1200 clearfix" style="height:440px;">
    <div class="fxl clearfix mid-adv">
        <div class="imgmore pos-rel"
             style="display:block;background:url(pic/banner34.png);background-size:auto 250px !important;height:250px;width:760px;">
        </div>
        <div class="clear" style="height:3px;"></div>
        <div class="fxl clearfix" style="width:370px;">
            <div class="pub-tit-sub pos-rel clearfix">
                <span>求购速递</span>
                <a href="/buy" target="_blank" class="fxr">更多<i class="weimaofont">&#xe64f;</i></a>
                <a href="#" target="_blank" class="fxr font-blue">我要买</a> <!--这里买东西网页-->
            </div>
            <div class="li-list-line gray-frame clearfix auto-scroll" id="autoScroll">
                <ul>
                    <li class="clearfix">
                        <a class="fxl text-wid" target="_blank"
                           href="http://www.zgncpw.com/buy/show-15774.html">求购大量小米</a>
                    </li>
                    <li class="clearfix">
                        <a class="fxl text-wid" target="_blank"
                           href="http://www.zgncpw.com/buy/show-15773.html">求购大量玉米</a>
                    </li>
                    <li class="clearfix">
                        <a class="fxl text-wid" target="_blank" href="http://www.zgncpw.com/buy/show-15772.html">粮库收购小麦糯米大米</a>
                    </li>
                    <li class="clearfix">
                        <a class="fxl text-wid" target="_blank" href="http://www.zgncpw.com/buy/show-15771.html">成都收购玉米高粱碎米</a>
                    </li>
                    <li class="clearfix">
                        <a class="fxl text-wid" target="_blank" href="http://www.zgncpw.com/buy/show-15770.html">饲料厂常年现款求购玉米</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fxr clearfix" style="width:370px;">
            <div class="pub-tit-sub pos-rel clearfix">
                <span>供应速递</span>
                <a href="/sell" target="_blank" class="fxr">更多<i class="weimaofont">&#xe64f;</i></a>
                <a href="#" target="_blank" class="fxr font-blue">我要卖</a>
            </div>
            <div class="li-list-line gray-frame clearfix auto-scroll" id="autoScroll2">
                <ul>
                    <li class="clearfix">
                        <a class="fxl text-wid" target="_blank" href="http://www.zgncpw.com/sell/show/116898/"
                           style="width:300px">山东生姜产地批发 出口大姜常年供</a>
                        <span class="fxr"><img class="vip-img"
                                               src="http://www.zgncpw.com/skin/skin2018/image/vip_1.gif"/></span>
                        <!-- <em class="fxr font-gray">05-13</em> -->
                    </li>
                    <li class="clearfix">
                        <a class="fxl text-wid" target="_blank" href="http://www.zgncpw.com/sell/show/116897/"
                           style="width:300px">山东生姜产地批发 优质大姜 姜种价</a>
                        <span class="fxr"><img class="vip-img"
                                               src="http://www.zgncpw.com/skin/skin2018/image/vip_1.gif"/></span>
                        <!-- <em class="fxr font-gray">05-13</em> -->
                    </li>
                    <li class="clearfix">
                        <a class="fxl text-wid" target="_blank" href="http://www.zgncpw.com/sell/show/116848/"
                           style="width:300px">辽阳千百禾生态鸡批发价格，盘锦千</a>
                        <span class="fxr"><img class="vip-img"
                                               src="http://www.zgncpw.com/skin/skin2018/image/vip_1.gif"/></span>
                        <!-- <em class="fxr font-gray">05-11</em> -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fxr clearfix" style="width:200px;overflow:hidden;">
        <div class="time-con pos-rel clearfix">
            <div class="bg opa-2"></div>
            <div class="pos-abs font" id="nowTime"></div>
        </div>
        <div class="clearline"></div>
        <div class="bg-white top-r-menu gray-frame clearfix">
            <ul>
                <li><a href="view/login.html"><i class="zgncpwfont">&#xe619;</i>注册登录</a></li>
                <li class="line-l-r"><a target="_blank" href="#"><i
                        class="zgncpwfont">&#xe617;</i>商品销量</a></li>
                <li><a href="#"><i class="zgncpwfont">&#xe610;</i>商家销量</a></li>
            </ul>
        </div>
        <div class="clearline"></div>
        <div class="gray-frame clearfix">
            <div class="public-tit-sub2 pos-rel bg-white clearfix">
                <span class="pos-abs">公告栏</span>
                <a href="/announce/" target="_blank" class="fxr">更多<i class="weimaofont">&#xe64f;</i></a>
            </div>
            <div class="li01 frame-gray bg-white clearfix" style="padding:5px;height:140px;line-height:30px;">
                <ul>
                    <li><span class="f_r px11">&nbsp;01-31</span><a href="http://www.zgncpw.com/announce/show-12.html"
                                                                    target="_blank" class="text-wid" title="欢迎投稿或发文合作！"><span
                            style="color:#0000FF">欢迎投稿或发文合作！</span></a></li>
                    <li><span class="f_r px11">&nbsp;04-26</span><a href="http://www.zgncpw.com/announce/show-18.html"
                                                                    target="_blank" class="text-wid"
                                                                    title="农家社区论坛积分可兑换农产品网VIP会员啦"><span
                            style="color:#FF9900">农家社区论坛积分可兑换农产品网</span></a></li>
                    <li><span class="f_r px11">&nbsp;09-29</span><a href="http://www.zgncpw.com/announce/show-17.html"
                                                                    target="_blank" class="text-wid"
                                                                    title="如果发布农产品供应信息？"><span style="color:#000000">如果发布农产品供应信息？</span></a>
                    </li>
                    <li><span class="f_r px11">&nbsp;07-31</span><a href="http://www.zgncpw.com/announce/show-16.html"
                                                                    target="_blank" class="text-wid"
                                                                    title="关于在全国范围内诚征区域代理商的公告"><span
                            style="color:#FF6600">关于在全国范围内诚征区域代理商</span></a></li>
                    <li><span class="f_r px11">&nbsp;05-09</span><a href="http://www.zgncpw.com/announce/show-15.html"
                                                                    target="_blank" class="text-wid"
                                                                    title="（中国）农产品网APP下载"><span style="color:#33CCCC">（中国）农产品网APP下载</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">var user_auth = get_cookie('auth');</script>
<div class="clear h30"></div>

<div class="con-width-1200 clearfix">
    <div class="fxl sell-block clearfix" style="height:420px;">
        <div class="title clearfix">
            <h1 class="fxl">好铺宣传榜</h1>
            <a class="fxr font-gray fs-14" href="http://www.zgncpw.com/sell/list-160158.html">更多></a>
        </div>
        <div class="clear"></div>
        <ul class="clearfix pad20" name="liall4">
            <li class="list-catname-img clearfix no">
                <a class="catname tooltip text-wid-auto" href="http://www.zgncpw.com/sell/list-200.html" target="_blank"
                   title="鸡">鸡</a>
                <a class="tit tooltip" href="http://www.zgncpw.com/sell/show/116526/" target="_blank"
                   title="生态鸡多少钱一只，生态鸡哪里有卖的">
                    <img src="http://images.zgncpw.com/zgncpw_web/201805/07/0712528340029.jpg.middle.jpg"
                         alt="生态鸡多少钱一只，生态鸡哪里有卖的"/>
                    <h1 class="text-wid-auto">生态鸡多少钱一只，生态鸡哪里有卖的</h1>
                </a>
            </li>
            <li class="list-catname-img clearfix no">
                <a class="catname tooltip text-wid-auto" href="http://www.zgncpw.com/sell/list-32.html" target="_blank"
                   title="油菜籽">油菜籽</a>
                <a class="tit tooltip" href="http://www.zgncpw.com/sell/show/116353/" target="_blank" title="梯田油菜籽">
                    <img src="http://images.zgncpw.com/zgncpw_web/201805/03/093724380.jpg.middle.jpg" alt="梯田油菜籽"/>
                    <h1 class="text-wid-auto">梯田油菜籽</h1>
                </a>
            </li>
            <li class="list-catname-img clearfix no">
                <a class="catname tooltip text-wid-auto" href="http://www.zgncpw.com/sell/list-143194.html"
                   target="_blank" title="蓝孔雀">蓝孔雀</a>
                <a class="tit tooltip" href="http://www.zgncpw.com/sell/show/116346/" target="_blank"
                   title="老曹浅谈孔雀养殖技术">
                    <img src="http://images.zgncpw.com/zgncpw_web/201805/03/0807464431121.jpg.middle.jpg"
                         alt="老曹浅谈孔雀养殖技术"/>
                    <h1 class="text-wid-auto">老曹浅谈孔雀养殖技术</h1>
                </a>
            </li>
            <li class="list-catname-img clearfix no">
                <a class="catname tooltip text-wid-auto" href="http://www.zgncpw.com/sell/list-134958.html"
                   target="_blank" title="藤稔">藤稔</a>
                <a class="tit tooltip" href="http://www.zgncpw.com/sell/show/116252/" target="_blank"
                   title="沂蒙山下万亩葡萄种植基地">
                    <img src="http://images.zgncpw.com/zgncpw_web/201804/30/102549600.jpg.middle.jpg"
                         alt="沂蒙山下万亩葡萄种植基地"/>
                    <h1 class="text-wid-auto">沂蒙山下万亩葡萄种植基地</h1>
                </a>
            </li>
            <li class="list-catname-img clearfix no">
                <a class="catname tooltip text-wid-auto" href="http://www.zgncpw.com/sell/list-145872.html"
                   target="_blank" title="公子帽">公子帽</a>
                <a class="tit tooltip" href="http://www.zgncpw.com/sell/show/115252/" target="_blank"
                   title="供应云南老树核桃抽核桃批发零售">
                    <img src="http://image.zgncpw.com:8000/zgncpw/201804/06/1437198231053.jpg.middle.jpg"
                         alt="供应云南老树核桃抽核桃批发零售"/>
                    <h1 class="text-wid-auto">供应云南老树核桃抽核桃批发零售</h1>
                </a>
            </li>
            <li class="list-catname-img clearfix no">
                <a class="catname tooltip text-wid-auto" href="http://www.zgncpw.com/sell/list-664.html" target="_blank"
                   title="土特产其它">土特产其它</a>
                <a class="tit tooltip" href="http://www.zgncpw.com/sell/show/114048/" target="_blank"
                   title="供应云南下饭菜麻辣萝卜干批发零售">
                    <img src="http://image.zgncpw.com:8000/zgncpw/201803/23/1431594531053.jpg.middle.jpg"
                         alt="供应云南下饭菜麻辣萝卜干批发零售"/>
                    <h1 class="text-wid-auto">供应云南下饭菜麻辣萝卜干批发零售</h1>
                </a>
            </li>
            <li class="list-catname-img clearfix no">
                <a class="catname tooltip text-wid-auto" href="http://www.zgncpw.com/sell/list-144787.html"
                   target="_blank" title="信阳毛尖茶">信阳毛尖茶</a>
                <a class="tit tooltip" href="http://www.zgncpw.com/sell/show/113887/" target="_blank" title="极品绿茶雀舌批发">
                    <img src="http://image.zgncpw.com:8000/zgncpw/201803/22/1149335739357.jpg.middle.jpg"
                         alt="极品绿茶雀舌批发"/>
                    <h1 class="text-wid-auto"><span style="color:#FF0000">极品绿茶雀舌批发</span></h1>
                </a>
            </li>
            <li class="list-catname-img clearfix no">
                <a class="catname tooltip text-wid-auto" href="http://www.zgncpw.com/sell/list-144014.html"
                   target="_blank" title="大同小明绿豆">大同小明绿豆</a>
                <a class="tit tooltip" href="http://www.zgncpw.com/sell/show/113782/" target="_blank"
                   title="大量乌兹别克斯坦绿豆批发出售">
                    <img src="http://image.zgncpw.com:8000/zgncpw/201803/21/1646226112275.png.middle.png"
                         alt="大量乌兹别克斯坦绿豆批发出售"/>
                    <h1 class="text-wid-auto">大量乌兹别克斯坦绿豆批发出售</h1>
                </a>
            </li>
            <li class="list-catname-img clearfix no">
                <a class="catname tooltip text-wid-auto" href="http://www.zgncpw.com/sell/list-25675.html"
                   target="_blank" title="枸杞">枸杞</a>
                <a class="tit tooltip" href="http://www.zgncpw.com/sell/show/113549/" target="_blank"
                   title="正宗原产地中宁枸杞厂家直销喜欢的赶快联系">
                    <img src="http://image.zgncpw.com:8000/zgncpw/201803/18/1642249939285.jpg.middle.jpg"
                         alt="正宗原产地中宁枸杞厂家直销喜欢的赶快联系"/>
                    <h1 class="text-wid-auto">正宗原产地中宁枸杞厂家直销喜欢的赶快联系</h1>
                </a>
            </li>
            <li class="list-catname-img clearfix no">
                <a class="catname tooltip text-wid-auto" href="http://www.zgncpw.com/sell/list-137858.html"
                   target="_blank" title="白芋">白芋</a>
                <a class="tit tooltip" href="http://www.zgncpw.com/sell/show/113456/" target="_blank"
                   title="芋头种，芋头低价批发。">
                    <img src="http://image.zgncpw.com:8000/zgncpw/201803/17/0852065736496.jpg.middle.jpg"
                         alt="芋头种，芋头低价批发。"/>
                    <h1 class="text-wid-auto">芋头种，芋头低价批发。</h1>
                </a>
            </li>
            <li class="list-catname-img clearfix no">
                <a class="catname tooltip text-wid-auto" href="http://www.zgncpw.com/sell/list-146077.html"
                   target="_blank" title="湘莲">湘莲</a>
                <a class="tit tooltip" href="http://www.zgncpw.com/sell/show/113437/" target="_blank" title="台源贡莲">
                    <img src="http://image.zgncpw.com:8000/zgncpw/201803/16/1846212436167.jpg.middle.jpg" alt="台源贡莲"/>
                    <h1 class="text-wid-auto">台源贡莲</h1>
                </a>
            </li>
            <li class="list-catname-img clearfix no">
                <a class="catname tooltip text-wid-auto" href="http://www.zgncpw.com/sell/list-135518.html"
                   target="_blank" title="京欣">京欣</a>
                <a class="tit tooltip" href="http://www.zgncpw.com/sell/show/113363/" target="_blank"
                   title="辽宁新民西瓜批发价格">
                    <img src="http://image.zgncpw.com:8000/zgncpw/201803/16/0622278532225.jpg.middle.jpg"
                         alt="辽宁新民西瓜批发价格"/>
                    <h1 class="text-wid-auto"><span style="color:#FF0000">辽宁新民西瓜批发价格</span></h1>
                </a>
            </li>
        </ul>
    </div>
    <div class="fxr sell-block clearfix" style="height:420px;">
        <div class="title clearfix">
            <h1 class="fxl">活跃品类交易</h1>
            <a class="fxr font-gray fs-14" href="http://mall.zgncpw.com">更多></a>
        </div>
        <div class="clear"></div>
        <ul class="clearfix buy-list pad20" name="liall6">
            <li><a target="_blank" href="/sell/list-62.html"><img class="rad100"
                                                                  src="http://www.zgncpw.com/skin/skin2018/image/index/icon01-caomei.png"/>
                <p>草莓</p></a></li>
            <li><a target="_blank" href="/sell/list-63.html"><img class="rad100"
                                                                  src="http://www.zgncpw.com/skin/skin2018/image/index/icon02-lizhi.png"/>
                <p>荔枝</p></a></li>
            <li><a target="_blank" href="/sell/list-64.html"><img class="rad100"
                                                                  src="http://www.zgncpw.com/skin/skin2018/image/index/icon03-li.png"/>
                <p>梨</p></a></li>
            <li><a target="_blank" href="/sell/list-65.html"><img class="rad100"
                                                                  src="http://www.zgncpw.com/skin/skin2018/image/index/icon04-pingguo.png"/>
                <p>苹果</p></a></li>
            <li><a target="_blank" href="/sell/list-751.html"><img class="rad100"
                                                                   src="http://www.zgncpw.com/skin/skin2018/image/index/icon05-youzi.png"/>
                <p>柚子</p></a></li>
            <li><a target="_blank" href="/sell/list-590.html"><img class="rad100"
                                                                   src="http://www.zgncpw.com/skin/skin2018/image/index/icon06-ningmeng.png"/>
                <p>柠檬</p></a></li>
            <li><a target="_blank" href="/sell/list-765.html"><img class="rad100"
                                                                   src="http://www.zgncpw.com/skin/skin2018/image/index/icon07-tiangua.png"/>
                <p>甜瓜</p></a></li>
            <li><a target="_blank" href="/sell/list-769.html"><img class="rad100"
                                                                   src="http://www.zgncpw.com/skin/skin2018/image/index/icon08-xigua.png"/>
                <p>西瓜</p></a></li>
            <li><a target="_blank" href="/sell/list-762.html"><img class="rad100"
                                                                   src="http://www.zgncpw.com/skin/skin2018/image/index/icon09-tudou.png"/>
                <p>土豆</p></a></li>
            <li><a target="_blank" href="/sell/list-51.html"><img class="rad100"
                                                                  src="http://www.zgncpw.com/skin/skin2018/image/index/icon10-dabaicai.png"/>
                <p>大白菜</p></a></li>
            <li><a target="_blank" href="/sell/list-816.html"><img class="rad100"
                                                                   src="http://www.zgncpw.com/skin/skin2018/image/index/icon11-nangua.png"/>
                <p>南瓜</p></a></li>
            <li><a target="_blank" href="/sell/list-49.html"><img class="rad100"
                                                                  src="http://www.zgncpw.com/skin/skin2018/image/index/icon12-lajiao.png"/>
                <p>辣椒</p></a></li>
            <li><a target="_blank" href="/sell/list-86.html"><img class="rad100"
                                                                  src="http://www.zgncpw.com/skin/skin2018/image/index/icon13-yang.png"/>
                <p>羊</p></a></li>
            <li><a target="_blank" href="/sell/list-848.html"><img class="rad100"
                                                                   src="http://www.zgncpw.com/skin/skin2018/image/index/icon14-zhu.png"/>
                <p>猪</p></a></li>
            <li><a target="_blank" href="/sell/list-849.html"><img class="rad100"
                                                                   src="http://www.zgncpw.com/skin/skin2018/image/index/icon15-niu.png"/>
                <p>牛</p></a></li>
            <li><a target="_blank" href="/sell/list-200.html"><img class="rad100"
                                                                   src="http://www.zgncpw.com/skin/skin2018/image/index/icon16-ji.png"/>
                <p>鸡</p></a></li>
            <li><a target="_blank" href="/sell/list-211.html"><img class="rad100"
                                                                   src="http://www.zgncpw.com/skin/skin2018/image/index/icon17-dami.png"/>
                <p>大米</p></a></li>
            <li><a target="_blank" href="/sell/list-757.html"><img class="rad100"
                                                                   src="http://www.zgncpw.com/skin/skin2018/image/index/icon18-xiaomi.png"/>
                <p>小米</p></a></li>
        </ul>
    </div>
</div>
<div class="clear h30"></div>

<div class="con-width-1200 article clearfix">
    <i class="iconfont-comm font-orange fxl fs-20">&#xe87b;&nbsp;</i><span class="fxl fs-18">我们其他的服务</span>
    <div class="clear h20"></div>
    <Ul class="index_down_adv clearfix" name="liall5">
        <li><a href="http://o2o.zgncpw.com/ftl-product-home.html" target="_blank"><img
                src="http://image.zgncpw.com:8000/zgncpw/201803/19/091558381.jpg" width="232" height="150" alt=""/></a>
        </li>
        <li><a href="http://www.zgncpw.com/exhibit/" target="_blank"><img
                src="http://image.zgncpw.com:8000/zgncpw/201803/18/093515231.jpg" width="232" height="150" alt=""/></a>
        </li>
        <li><a href="http://o2o.zgncpw.com/ftl-adoption-home.html" target="_blank"><img
                src="http://image.zgncpw.com:8000/zgncpw/201803/19/091629591.jpg" width="232" height="150" alt=""/></a>
        </li>
        <li><a href="http://www.crices.com/" target="_blank"><img
                src="http://image.zgncpw.com:8000/zgncpw/201803/19/092019421.jpg" width="232" height="150" alt=""/></a>
        </li>
        <li><a href="http://www.newguan.com/" target="_blank"><img
                src="http://image.zgncpw.com:8000/zgncpw/201803/19/092443461.jpg" width="232" height="150" alt=""/></a>
        </li>
    </Ul>
</div>
<div class="clearline"></div>
<div class="con-width-1200 clearfix qy_flink">
    <div class="clearfix">
        <h4 class="fxl">友情链接：</h4>
        <span class="fxl">
</span>
        <ul class="fxl">
            <li>
                <a href="http://www.vegnet.com.cn" target="_blank" title="">
                    中国蔬菜网 </a>
            </li>
            <li>
                <a href="http://www.yz88.cn/" target="_blank" title="">
                    养猪巴巴网 </a>
            </li>
            <li>
                <a href="http://www.114guoshu.com" target="_blank" title="专注水果、蔬菜网上批发">
                    果蔬网 </a>
            </li>
            <li>
                <a href="http://www.pigol.cn" target="_blank" title="">
                    养猪网 </a>
            </li>
            <li>
                <a href="http://www.ihuashi.cn" target="_blank" title="">
                    鲜花店 </a>
            </li>
            <li>
                <a href="https://www.nongyao001.com/" target="_blank" title="">
                    世纪农药网 </a>
            </li>
            <li>
                <a href="http://www.ncggnz.com" target="_blank" title="">
                    高杆女贞 </a>
            </li>
            <li>
                <a href="http://www.chunguowang.com" target="_blank"
                   title="纯果网是专注水果批发的水果网，为水果批发商，水果产地代办，水果基地以及水果行业各企业提供水果交易，水果价格，水果配送的相关信息，致力于打造最好的网上水果批发市场。">
                    水果网 </a>
            </li>
            <li>
                <a href="http://www.e658.cn/" target="_blank" title="">
                    中国辣椒网 </a>
            </li>
            <li>
                <a href="http://www.ppxmw.com" target="_blank" title="">
                    畜牧 </a>
            </li>
            <li>
                <a href="http://www.wugu.com.cn" target="_blank" title="农产品信息平台">
                    吾谷网 </a>
            </li>
            <li>
                <a href="http://www.shuizhi360.com" target="_blank" title="中国水蛭网,水蛭行业最权威的网络平台">
                    中国水蛭网 </a>
            </li>
            <li>
                <a href="http://www.txooo.com" target="_blank"
                   title="天下商机致力于有效地帮助创业者与品牌无缝对接，陪伴创业者成功开店！加盟投资伙伴持续加入，纵观加盟开店大数据！打造1+1＞2的强势商机服务平台！天下商机——帮助个人创业的商机服务平台！">
                    创业小项目 </a>
            </li>
            <li>
                <a href="http://www.zyctd.com" target="_blank" title="">
                    中药材天地网 </a>
            </li>
            <li>
                <a href="http://www.weenong.com" target="_blank" title="城乡资源共享O2O解决方案">
                    <span style="color:#000000">微农网</span> </a>
            </li>
            <li>
                <a href="http://www.crices.com" target="_blank" title="农村太阳能路灯，光伏发电，LED照明">
                    <span style="color:#000000">克瑞斯光电</span> </a>
            </li>
            <li>
                <a href="http://www.nongyao168.com/" target="_blank" title="">
                    中国农药网 </a>
            </li>
            <li>
                <a href="http://www.zyydq.cn" target="_blank" title="中国惠农网资讯频道">
                    中医药大全 </a>
            </li>
            <li>
                <a href="http://www.farmer.com.cn/" target="_blank" title="“中国农业新闻网” （www.farmer.com.cn）是经国务院新闻办公室备案的中央重点三农综合新闻网站，既是党和政府“三农”工作方针、政策宣传的重要

窗口，也是农业现代化建设进程中农业资讯、农业数据应用和农产品在线交易的重要服务平台，是推进涉农电子政务、电子商务、电子农务建设的主阵地。

“中国农业新闻网”是农民日报社官方网站。自2004年创建上线以来，在保持农民日报社“三农”新闻宣传权威性的同时，充分发挥互联网、移动互联网的

技术手段，采用文字、图片、专题、视频、动漫、互动等方式，">
                    中国农业新闻网 </a>
            </li>
            <li>
                <a href="http://www.zgncpw.com" target="_blank" title="农产品交易网">
                    农产品交易网 </a>
            </li>
            <li style="float:right;"><a href="/link/" target="_blank"><b style="padding-left:20px;font-weight:normal;"
                                                                         target="_blank">更多></b></a></li>
        </ul>
    </div>
</div>
<div class="clear h20"></div>

<style>
    .auto-scroll.down {
        height: 244px;
    }

    .bg-green.rad5.btn-mid.pos-abs {
        top: 105px;
        left: 48px;
        padding: 5px 15px !important;
    }

    .ani-down {
        animation: anidown 0.5s;
        -webkit-animation: anidown 0.5s;
    }

    @keyframes anidown {
        0% {
            bottom: -200px;
        }
        100% {
            bottom: 10px;
        }
    }

    @-webkit-keyframes anidown {
        0% {
            bottom: -200px;
        }
        100% {
            bottom: 10px;
        }
    }

    @-moz-keyframes anidown {
        0% {
            bottom: -200px;
        }
        100% {
            bottom: 10px;
        }
    }
</style>
<script type="text/javascript" src="http://www.zgncpw.com/file/script/index.js"></script>
<script type="text/javascript" src="http://www.zgncpw.com/file/script/marquee.js"></script>
<script type="text/javascript">
    new dmarquee(46, 10, 3000, 'autoScroll');
    new dmarquee(46, 10, 3000, 'autoScroll2');
    new dmarquee(46, 10, 3000, 'autoScroll4');
    new dmarquee(40, 10, 3000, 'autoScroll5');
    new dmarquee(40, 10, 3000, 'autoScroll6');
    if (get_cookie('auth')) {
        $('.iuser_l')[0].title = '商务中心';
        $('.iuser_l')[0].href = 'http://www.zgncpw.com/member/';
        $('.iuser_l')[0].className = 'iuser_u';
        $('.iuser_r')[0].title = '完善我的会员资料';
        $('.iuser_r')[0].href = 'http://www.zgncpw.com/member/edit.php';
        $('.iuser_r')[0].className = 'iuser_e';
    }
    remindstart();
    //$('.index-adv-top').fadeIn(600);
    function colseremind() {
        $('.remind').animate({bottom: '-200px'}, 800);
        $('.index-adv-top').fadeIn(600);
    }
    function colse_sell() {
        $('.index-adv-top').fadeOut();
        $('.remind').animate({bottom: '10px'}, 800);
    }
    function remindstart() {
        $('.remind').fadeIn(600);
        $('.remind').animate({bottom: '10px'}, 800);
    }
</script>
<div class="clear"></div>
<div class="pub-footer clearfix">
    <style>
        .down-img a img {
            margin: 0px;
        }
    </style>
    <div class="con-width-1200 clearfix">
        <img class="fxl l-img" src="http://www.zgncpw.com/skin/skin2018/image/common/logo_down.png"/>
        <div class="fxl text-align-c clearfix">
            <div id="webpage">
                <a href="http://www.zgncpw.com/" class="font-white">网站首页</a>
                | <a href="http://www.zgncpw.com/extend/about.html">关于我们</a>
                | <a href="http://www.zgncpw.com/extend/contact.html">联系方式</a>
                | <a href="http://www.zgncpw.com/extend/problem.html">常见问题</a>
                | <a href="http://www.zgncpw.com/extend/agreement.html">使用协议</a>
                | <a href="http://www.zgncpw.com/extend/copyright.html">版权隐私</a>
                | <a href="http://www.zgncpw.com/sitemap/">网站地图</a>
                | <a href="http://www.zgncpw.com/guestbook/">网站留言</a> | <a href="http://www.zgncpw.com/ad/">广告服务</a> |
                <a href="http://www.zgncpw.com/gift/">积分换礼</a> | <a href="http://www.zgncpw.com/mobile ">手机版</a> | <a
                    href="http://www.zgncpw.com/feed/">RSS订阅</a></div>
            <!--<div id="copyright">(c)2008-2016 zgncpw.com B2B SYSTEM All Rights Reserved<br><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_4507658'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/stat.php%3Fid%3D4507658' type='text/javascript'%3E%3C/script%3E"));</script></div>-->
            <div class="clearline"></div>
            <div class="con-width m down-img clearfix" style="width:850px;text-align:center;">
                <a key="593622e9efbfb02559f2e916" logo_size="83x30" logo_type="realname" href="http://www.anquan.org">
                    <script src="//static.anquan.org/static/outer/js/aq_auth.js"></script>
                </a>
                <a key="593622e9efbfb02559f2e916" logo_size="83x30" logo_type="common" href="http://www.anquan.org">
                    <script src="//static.anquan.org/static/outer/js/aq_auth.js"></script>
                </a>
                <a href="http://www.bjjubao.org/" target="_blank"><img
                        src="http://image.zgncpw.com:8000/public/down/bjhlw.gif"/><span>北京互联网举报中心</span></a>
                <a href="http://www.bjwhzf.gov.cn/accuse.do" target="_blank"><img
                        src="http://image.zgncpw.com:8000/public/down/bjwhsc.jpg"/><span>北京文化市场举报热线</span></a>
                <a href="http://www.bjrt.gov.cn/" target="_blank"><img
                        src="http://image.zgncpw.com:8000/public/down/blstjm.jpg"/><span>不良视听节目举报</span></a>
                <a href="http://www.12377.cn/" target="_blank"><img
                        src="http://image.zgncpw.com:8000/public/down/wfblxx.jpg"/><span>违法和不良信息举报中心</span></a>
                <a href="http://www.bj.cyberpolice.cn/index.htm" target="_blank"><img
                        src="http://image.zgncpw.com:8000/public/down/wl110.jpg"/><span>网络 110报警服务</span></a>
                <!--<a href="http://webscan.360.cn/index/checkwebsite/url/www.zgncpw.com"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/19273bf19a23fde5eec9c088e8f9b4d3" width="100px" height="30px"/></a>-->
            </div>
        </div>
    </div>
    <div class="down clearfix">
        Copyright © 2017 维贸网络 <span>版权所有</span>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="font-gray"></span>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.miibeian.gov.cn" target="_blank">冀ICP备15003989号-2</a>&nbsp;&nbsp;&nbsp;&nbsp;<span
            class="font-gray"></span>&nbsp;&nbsp;&nbsp;&nbsp;
        增值电信业务经营许可证：冀B2-20160010
        &nbsp;&nbsp;&nbsp;&nbsp;<img src="http://image.zgncpw.com:8000/public/down/beian.png"/>冀公网安备
        13102202000368号<span
            class="font-gray"></span>&nbsp;&nbsp;&nbsp;&nbsp;
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1260742642'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260742642%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
</div>

<!--<script type="text/javascript">-->
<!--show_task('moduleid=1&html=index');-->
<!--</script>-->
</body>
</html>
