<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="Dtop" style="z-index: 999; position: absolute; width: 250px; left: 290px; top: 202px;">
    <div class="icon-nodata clearfix" style="display: block;">
        <img class="fxl" src="http://www.zgncpw.com/skin/skin2018/image/common/nodata.png">
        <div class="fxl clearfix font-gray-9 mar10-l">
            <div class="clear h10"></div>
            <p class="line-height-40">
                <span class="fxl fs-24">该分类暂无数据&nbsp;</span>
                <img class="fxl" style="width:40px;border:0px;" src="http://www.zgncpw.com/skin/skin2018/image/common/logo_weenong.png">
            </p>
            <div class="clear h10"></div>
            <p class="fs-16">我们的成长离不开您的支持，现在就去</p>
            <div class="clear h10"></div>
            <a target="_blank" href="/member/my.php?mid=5&amp;action=add" class="btn-blue-border-1 btn-normal line-height-18 rad3"><i class="iconfont-comm"></i>&nbsp;上传</a>。
        </div>
    </div>
</div>
</body>
</html>